.ion-content {

}
.search {
  margin: 2% 18%!important;
  display: flex;
  border-radius: 5px;
  //: 10%;
  //max-height: 2rem;
}

.search-results-container{
  display: flex;
  justify-content: center !important;
  //justify-items: center;
  align-content: center !important;
  align-items: center !important;
  margin: 0 !important;
  width: 100%;

}

.container-refresh-outline-button {
  --box-shadow: none;
  width: auto;
  height: auto;
  max-height: 5rem;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-content: center;
  align-items: center;

  :hover{
    opacity: 0.5;
  }
}

.searchbar {
  border: 1px lightgray solid;
  --box-shadow: none;
  width: auto;
  height: auto;
  max-height: 5rem;
  display: flex;
  text-align: center;
}

.search-results {
  width: auto;
  height: auto;
  display: flex;
  padding: 2rem;

}

.dropoffLocationlist {
  margin: 1rem;

  :hover {
    opacity: 0.5;
  }
}

.Map {
  display: flex;
  margin-left: 5% !important;
  margin-right: 5% !important;
}

capacitor-google-map {
  display: inline-block;
  width: 35rem;
  height: 35rem;
}

//TODO: Add responsiveness to search result section
