<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="page">
  <div class="page">
    <div class="header-container">
      <img src="../../assets/image/forestGradient.png" width="1920px" height="1280px" class="header-image-main">
      <div class="header-title-container">
        <p class="header-title"><b>200 Millionen alte Handys in <br>
          Deutschland sind unsere Mission.</b></p>
        <p class="header-text">Wir wollen bis Ende 2025 1 Millionen dieser Geräte umweltgerecht verwerten. <br> Unterstütze uns dabei, indem Du uns deine
          alten Handys spendest<br> oder in deiner Stadt eine Handy-Sammelaktion startest.</p>
        <ion-row>
            <h1 class="header-title-button" (click)="onMenu('handys-spenden')">ALTE HANDYS SPENDEN</h1>
            <h1 class="header-title-button-white" (click)="onMenu('handys-spenden')">SAMMELAKTION STARTEN</h1>
        </ion-row>

      </div>
      <div class="header-footer">
        <ion-row class="header-footer">
          <ion-col class="header-footer-column" size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
            <p class="header-footer-title">IN PARTNERSCHAFT MIT</p>
            <img src="../../assets/logo/bund.webp" width="1110" height="136" class="header-footer-logo">
          </ion-col>
          <ion-col class="header-footer-column" size-xl="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
            <p class="header-footer-title">ZERTIFIZIERT DURCH</p>
            <img src="../../assets/logo/gutcert.webp" width="500" height="119" class="header-footer-logo">
          </ion-col>
        </ion-row>
      </div>
      <div class="header-circle-quarter">
        <img src="../../assets/image/circle.webp" height="1200px" width="250px" class="header-image-circle">
      </div>
    </div>
    <ion-grid>
      <div class="box-group">
        <ion-row>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <div class="box">
              <ion-icon class="box-icon" name="phone-portrait-outline"></ion-icon>
              <p class="box-title">{{uNumbers.getNumberFormatted(get_nDevices())}}</p>
              <h3 class="box-subtitle">GESAMMELTE HANDYS</h3>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <div class="box">
              <ion-icon class="box-icon" name="leaf-outline"></ion-icon>
              <p class="box-title">{{oStatisticsOverview != null ? (transGramm(oStatisticsOverview.gGold)).value + " " + (transGramm(oStatisticsOverview.gGold)).unit : "-"}}</p>
              <p class="box-subtitle">RECYCELTES GOLD</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <div class="box">
              <ion-icon class="box-icon" name="leaf-outline"></ion-icon>
              <p
                class="box-title">{{oStatisticsOverview != null ? (transGramm(oStatisticsOverview.gSilver)).value + " " + (transGramm(oStatisticsOverview.gSilver)).unit : "-"}}</p>
              <p class="box-subtitle">RECYCELTES SILBER</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <div class="box">
              <ion-icon class="box-icon" name="leaf-outline"></ion-icon>
              <p
                class="box-title">{{oStatisticsOverview != null ? (transGramm(oStatisticsOverview.gCopper)).value + " " + (transGramm(oStatisticsOverview.gCopper)).unit : "-"}}</p>
              <p class="box-subtitle">RECYCELTES KUPFER</p>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <!--
      <ion-row class="section">
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <img src="../../assets/image/phones.webp" height="720" width="1080" class="section-image-left">
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <div class="section-container-text">
            <h3 class="section-title"><b>Warum wir deine alten Handys sammeln</b></h3>
            <div>
              <p class="section-text"><b>200 Millionen alte Handys</b> lagern in deutschen Schubladen. Das hat eine repräsentative Umfrage des Branchenverbands Bitkom 2021 ergeben. Gemeinsam mit Dir wollen wir aktiv daran arbeiten, dass diese Handys umweltgerecht verwertet werden.
                </p>
                <p class="section-text"><b>1 Tonne Golderz</b> muss geschürft werden um dieselbe Menge Gold zu gewinnen, wie sie in 41 Handys enthalten ist. Damit wird unterstrichen welcher Beitrag zum Umweltschutz, durch die Sammlung und das Recycling von alten Handys, geleistet werden kann.</p>
                <p class="section-text"><b>10-jähriges Bestehen</b> der Handy-Sammlung von Mobile-Box sind für uns der Beweis, dass wir auf dem richtigen Weg sind, wenn es darum geht eine einfache Rückgabemöglichkeit für alte Handys zu schaffen.</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
      -->

      <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <section class="section-image-ctn">
            <div class="section-image-container">
              <img src="../../assets/image/letter_mockup.png" width="450">
            </div>

          </section>

        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <div class="section-container-text">
            <h3 class="section-title-regular"><b>Alte Handys umweltgerecht entsorgen</b></h3>
            <div>
              <p class="section-text">Raus aus der Schublade mit deinen alten Handys und ab zu Mobile-Box damit. Denn wir sammeln deine alten Handys und lassen diese für Dich umweltgerecht entsorgen. Egal ob durch innereuropäisches Recycling oder nachhaltige Wiederverwendung, gemeinsam schonen wir Ressourcen und leisten einen wichtigen Beitrag zum Umweltschutz.
              </p>
            </div>
            <ion-row class="button-group">
              <button class="button-orange" (click)="onMenu('handys-spenden')">HANDYS SPENDEN</button>
              <button class="button-orange-rev" (click)="onMenu('handys-spenden/abgeben')">ABGABESTELLE FINDEN</button>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <div class="section-container-text">
            <h3 class="section-title-regular"><b>Kostenlose Sammelbox bestellen</b></h3>
            <div>
              <p class="section-text">Du möchtest in deiner Schule, deiner Stadt oder deinem Verein alte Handys sammeln? Dann ist Mobile-Box deine Wahl. Denn bei uns erhältst du kostenlose Sammelboxen, eine persönliche Betreuung und die Garantie, dass alle gesammelten Handys umweltgerecht verwertet werden.</p>
            </div>
            <ion-row class="button-group">
              <button class="button-orange" (click)="onMenu('handys-spenden')">DIREKT BESTELLEN</button>
              <button class="button-orange-rev" (click)="onMenu('handys-spenden')">MEHR INFORMATIONEN</button>
            </ion-row>
          </div>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <div class="section-image-container">
            <img src="../../assets/image/sammelbox.png" width="450"  class="section-image-indicator" >
          </div>

        </ion-col>
      </ion-row>

      <div class="section-container-green">
        <h3 class="section-title-white"><b>Das passiert mit deinen alten Handys</b></h3>
        <div class="box-group">
          <ion-row>
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
              <div class="box-green">
                <ion-icon class="box-icon-white" name="infinite"></ion-icon>
                <h2
                  class="box-title-white">Handy Sammlung</h2>
                <p class="box-text-white">Gerne kannst Du uns deine alten Handys zusenden oder an einer unserer vielen
                  Sammelstellen abgeben. Diese werden anschließend an unserem Standort in Köln erfasst und abhängig von Alter und Zustand in die Fraktionen Wiederverwendung und Recycling unterteilt.</p>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
              <div class="box-green">
                <ion-icon class="box-icon-white" name="aperture"></ion-icon>
                <h2
                  class="box-title-white">Handy Recycling</h2>
                <p class="box-text-white">Handys enthalten wertvolle Rohstoffe wie Gold, Silber und Kupfer. Daher lassen
                  wir nicht wiederverwendbare Handys von zertifizierten Partnern in Europa recyceln. Diese Rohstoffe müssen nun nicht mehr in Bergwerken abgebaut werden sondern stehen dem Rohstoffkreislauf wieder zur Verfügung.</p>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
              <div class="box-green">
                <ion-icon class="box-icon-white" name="build"></ion-icon>
                <p
                  class="box-title-white">Wiederverwendung</p>
                <p class="box-text-white">Aktuell können wir 5% aller gesammelten Handys wiederverwenden, nachdem diese professionell von uns aufbereitet wurden. Dazu zählt neben der Datenlöschung, die Prüfung, Reinigung und teilweise Reparatur der Geräte.
                  Aufbereitete Handys werden dann in unserem Online-Shop als sogenannte Futurephones zum Kauf angeboten.</p>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
              <div class="box-green">
                <ion-icon class="box-icon-white" name="lock-closed"></ion-icon>
                <p
                  class="box-title-white">Datenlöschung</p>
                <p class="box-text-white">Auf Handys enthaltene persönliche Daten werden entweder durch den
                  Recycling-Prozess physisch zerstört oder durch unsere Datenlöschverfahren vollständig gelöscht. Zu den Datenlöschverfahren gehört neben den herstellereigenen Verfahren, die Datenlöschung mit der ISO-zertifizierten Datenlöschsoftware der Firma Blancco.</p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <ion-row class="section">
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <div class="section-container-text">
            <p class="section-title"><b>Zertifizierte Prozesse</b></p>
            <div>
              <p class="section-text">Mobile-Box ist ein nach §21 ElektroGeräte-Gesetz zertifzierter
                Erstbehandlungsbetrieb. Damit besitzen wir die behördliche Genehmigung zur Sammlung und
                Aufbereitung von alten Handys. Im Rahmen der Zertifzierung werden unsere Produktions-Prozesse jährlich
                von GutCert auf umwelt- und sicherheitsrelevante Bedingungen hin geprüft.
                Durch unsere Spezialisierung auf die Wiederverwendung von gebrauchten Handys übertreffen wir diese
                Vorgaben sogar noch und handeln im Sinne des Kreislaufwirtschaftsgesetzes.</p>
            </div>
          </div>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
          <img src="../../assets/image/certificate.webp" width="340" height="481" class="section-image-certificate">
        </ion-col>
      </ion-row>
      <div class="section">
        <h2 class="section-title-green"><b>Sammelpartner von Mobile-Box</b></h2>
        <div class="arrow-down"></div>
        <ion-row class="box-group">
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <div class="box">
              <img id="duh-logo"(click)="onLink('https://www.duh.de/home/')" src="../../assets/logo/duh.webp" width="340" height="481" class="box-logo">
              <p class="box-title">{{oDuh != null ? uNumbers.getNumberFormatted(oDuh.nDevices) : "-"}}</p>
              <p class="box-subtitle">{{oDuh != null ? oDuh.cPayee : "-"}}</p>
            </div>

          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <div class="box">
              <img id="bund-logo" (click)="onLink('https://www.bund-nrw.de/')" src="../../assets/logo/bund.webp" width="1110" height="136" class="box-logo">
              <p
                class="box-title">{{oBundNrw != null ? uNumbers.getNumberFormatted(oBundNrw.nDevices) : "-"}}</p>
              <p class="box-subtitle">{{oBundNrw != null ? oBundNrw.cPayee : "-"}}</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <div class="box">
              <img (click)="onLink('https://www.koelnerzoo.de/')" src="../../assets/logo/koelner_zoo.webp" width="287" height="176" class="box-logo">
              <p
                class="box-title">{{oKoelnerZoo != null ? uNumbers.getNumberFormatted(oKoelnerZoo.nDevices) : "-"}}</p>
              <p class="box-subtitle">{{oKoelnerZoo != null ? oKoelnerZoo.cPayee : "-"}}</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
            <div class="box">
              <img (click)="onLink('https://foej.de/')" src="../../assets/logo/foej.webp" width="225" height="225"  class="box-logo">
              <p
                class="box-title">{{oFoej != null ? uNumbers.getNumberFormatted(oFoej.nDevices) : "-"}}</p>
              <p class="box-subtitle">{{oFoej != null ? oFoej.cPayee : "-"}}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div class="section">
        <p class="section-title-green"><b>Mitmachen</b></p>
      </div>
      <div class="arrow-down"></div>
      <div class="box-group">
        <ion-row>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box">
              <ion-icon class="box-icon" name="mail-outline"></ion-icon>
              <h3 class="box-title">Handys spenden</h3>
              <ion-button class="box-button" (click)="onMenu('handys-spenden')">Mehr erfahren</ion-button>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box">
              <ion-icon class="box-icon" name="rocket-outline"></ion-icon>
              <h3 class="box-title">Sammelaktion starten</h3>
              <ion-button class="box-button" (click)="onMenu('sammelaktion-starten')">Mehr erfahren</ion-button>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box">
              <ion-icon class="box-icon" name="paper-plane-outline"></ion-icon>
              <p class="box-title">Kontakt aufnehmen</p>
              <ion-button class="box-button" (click)="onContact()">Mehr erfahren</ion-button>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box">
              <ion-icon class="box-icon" name="newspaper-outline"></ion-icon>
              <p class="box-title">Newsletter abonnieren</p>
              <ion-button class="box-button" (click)="onSubscribe()">Mehr erfahren</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div class="btn-container" (click)="openSignupForm()">
        <p class="btn-titel">Newsletter</p>
        <span title="Newsletter"><ion-icon id="subscription-btn" name="newspaper-outline" size="small"></ion-icon></span>
      </div>




      <!--
      <div class="blog-section-container">
        <p class="blog-section-title">Neuigkeiten</p>
        <div class="blog-section-content">
          <ion-grid>
            <ion-row>
              <ion-col size-size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
                <app-blog (ping)="onBlog($event)" [oBlog]="lBlog !=null ? lBlog[0] : null"></app-blog>
              </ion-col>
              <ion-col size-size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
                <app-blog (ping)="onBlog($event)" [oBlog]="lBlog !=null ? lBlog[1] : null"></app-blog>
              </ion-col>
              <ion-col size-size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
                <app-blog (ping)="onBlog($event)" [oBlog]="lBlog !=null ? lBlog[2] : null"></app-blog>
              </ion-col>
              <ion-col size-size-xl="3" size-lg="3" size-md="6" size-sm="6" size-xs="12">
                <app-blog (ping)="onBlog($event)" [oBlog]="lBlog !=null ? lBlog[3] : null"></app-blog>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      -->
    </ion-grid>
    <app-footer></app-footer>
  </div>
</ion-content>
