.btn-container{
  position: fixed;
  bottom: 1.25rem;
  right: 2.5rem;
  display: grid;
  text-align: center;
  cursor: pointer;
}

#subscription-btn{
  background: #1c3100;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  padding: 1rem;
  color: white;
  pointer-events:none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.51);

}

.btn-titel {
  display: none;
  margin-bottom: 4px;
}

.btn-container:hover{
  transform: scale(1.1);

  .btn-titel{
    display: grid;
  }
}

//Mobile
@media only screen and (max-width: 768px){

  #subscription-btn{
    width: 30px;
    height: 30px;
  }
}

.mat-dialog-container {
  max-width: 100vw;
  overflow-x: hidden;
}

.mat-dialog-content {
  max-width: 100%;
}

///Dark Mode
@media (prefers-color-scheme: dark) {
  #bund-logo {
       background-color: white;
     }
  #duh-logo {
    background-color: white;
  }
}
