.btn-container{
  position: fixed;
  bottom: 1.25rem;
  right: 2.5rem;
  display: grid;
  text-align: center;
  cursor: pointer;
}

#subscription-btn{
  //position: fixed;
  //bottom: 10%;
  //right: 5%;
  background: #1c3100;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 20px;
  color: white;
  pointer-events:none;

}

.btn-titel {
  display: none;
  margin-bottom: 4px;
}

.btn-container:hover{
  transform: scale(1.1);

  .btn-titel{
    display: grid;
  }
}

