<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="page">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/image/send_network.webp" class="section-image-left">
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <h1 class="section-title"><b>Alte Handys versenden</b></h1>
        <p class="section-text">Gerne kannst Du uns deine alten Handys zusenden. Wir gewährleisten eine umweltgerechte Verwertung und leisten so gemeinsam einen wichtigen Beitrag zum Ressourcenschutz. Bitte beachte dazu folgende Hinweise.</p>
        <div class="section-list">
          <ul>
            <li class="section-list-item"><b>Brief oder Paket: </b>Je nachdem wie viele Handys du versenden möchtest, stehen Dir diese beiden Optionen zur Auswahl. Spezifische Informationen dazu findest Du in den nächsten beiden Abschnitten.
            </li>
            <li class="section-list-item"><b>Versandadresse:</b> Mobile-Box, Vogelsanger Straße 282, 50825 Köln</li>
            <li class="section-list-item"><b>Akkus:</b> Lithium-Ionen-Akkus bitte im Gerät belassen und nicht einzeln versenden.</li>
            <li class="section-list-item" style="text-decoration: underline"><b>Handy-Ladekabel:</b> Da wir einen Teil der gesammelten Handys wiederverwenden können, bitten wir Dich uns auch Deine Handy-Ladekabel zuzusenden. Sofern wir diese nicht wiederverwenden können, werden gesammelte Kabel ebenfalls umweltschonend recycelt.</li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <p class="section-title"><b>Per Brief versenden</b></p>
        <div class="section-list">
          <ul>
            <li class="section-list-item"><b>Bis zu 2 Handys:</b> Gemäß der Versandbestimmungen der Deutschen Post, dürfen per Brief maximal
              zwei Handys versendet werden.
            </li>
            <li class="section-list-item"><b>Polsterung: </b>Da wir einige Handys noch wiederverwenden können, bitten wir Dich einen
              gepolsterten Umschlag zu nutzen oder durch ausreichend Füllmaterial (z.B. Zeitungspapier) einen sicheren
              Versand zu gewährleisten.
            </li>
            <li class="section-list-item"><b>Kosten: </b>Die Versandkosten für eine Warensendung bis zu 500g mit der deutschen Post
              liegen bei 1,95 €.
            </li>
          </ul>
        </div>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/image/send_letter.webp" class="section-image-left">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/image/send_package.webp" class="section-image-left">
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <p class="section-title"><b>Per Paket versenden</b></p>
        <div class="section-list">
          <ul>
            <li class="section-list-item"><b>Mehr als zwei Handys: </b>In einem Paket dürfen mehr als zwei Handys versendet werden. Voraussetzung ist
              jedoch ein aufgeklebter Lithium-Ionen-Warnhinweis. Durch Klick auf den unteren Button kannst Du dir einen
              solchen ausdrucken und aufkleben.
            </li>
            <li class="section-list-item"><b>Polsterung: </b>Da wir einige Handys noch wiederverwenden können, bitten wir dich ausreichend
              Füllmaterial (z.B. Zeitungspapier) zu nutzen um einen sicheren Versand zu gewährleisten
            </li>
            <li class="section-list-item"><b>Kosten: </b>Die Versandkosten für ein DHL-Paket starten bei 3,99 € und ermöglichen den
              Versand eines 2kg Päckchens.
            </li>
          </ul>
        </div>
        <ion-button class="section-button" (click)="onClickBattery()">Lithium-Ionen-Warnhinweis öffnen</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
  <app-footer></app-footer>
</ion-content>

