<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="page">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/image/phone_sustainability.jpg" class="section-image-left">
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <h1 class="section-title">HANDYSAMMLERPORTAL</h1>
        <p class="section-text">Um die Sammlung von alten Handys so einfach wie möglich zu gestalten, haben wir das
          Handysammlerportal entwickelt. Ob Schule oder Verein, ob Stadt oder Unternehmen, jeder kann sich dort
          registrieren, eine Sammelbox bestellen und an der Sammlung von alten Handys teilnehmen.
          Alle dazu notwendigen Informationen werden im Handysammlerportal zur Verfügung gestellt. Mobile-Box konnte mit
          seinen Sammelpartnern bereits mehr als 500.000 alte Handys einer umweltgerechten Verwertung zuführen.
          Wir sind dankbar für diesen gemeinsamen Erfolg und freuen uns über jeden neuen Sammler.</p>
        <ion-button class="section-button"
                    (click)="onLink('www.handysammlerportal.de/registration-collector/id/0')">Kostenlos
          registrieren
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="section-container-green">
      <p class="section-title-white">So geht es weiter</p>
      <div class="box-group">
        <ion-row>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="cube"></ion-icon>
              <h2 class="box-title-white">Handy-Sammelbox bestellen</h2>
              <p class="box-text-white">Neben einer Sammelbox kannst du auch Flyer und Plakate bestellen, um die
                Sammlung zu kommunzieren.
                Zusätzlich stellen wir Dir Vorlagen für Presseartikel zur Verfügung.</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="megaphone"></ion-icon>
              <h2 class="box-title-white">Handy-Sammlung starten</h2>
              <p class="box-text-white">Als Sammelstandort besonders gut eignen sich viel besuchte Orte mit leichter
                Zugänglichkeit. Je häufiger eure Mobile-Box von jemanden gesehen wird, desto besser das Sammelergebnis.
                Ein weiterer Erfolgsfaktor sind Artikel in lokalen Zeitungen, die über die Sammlung informieren und zur
                Handy-Spende aufrufen.</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="arrow-redo"></ion-icon>
              <h3 class="box-title-white">Handys versenden</h3>
              <p class="box-text-white">Wenn eure Mobile-Box voll ist, kannst Du dir in unserem Handysammlerportal ein
                kostenloses Versandlabel erstellen. Zusätzlich erhältst du weitere wichtige Informationen zum Versand.
                Nutze für den Versand bitte einen extra Karton, um die vorhandene Mobile-Box weiter nutzen zu
                können.</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="medal"></ion-icon>
              <p
                class="box-title-white">Urkunde erhalten</p>
              <p class="box-text-white">Nachdem wir eure alten Handys erhalten haben, kümmern wir uns um die
                umweltgerechte Verwertung. Ihr erhaltet nach der Erfassung aller Geräte eine Urkunde von uns, die euch
                u.a. über die Menge der recycelten Rohstoffe informiert.
                Auch dient die Urkunde als Nachweis für euer Engagement für den Umweltschutz, das zusätzlich zur
                Sammlung kommunziert werden kann.</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
