.drop-offLocation {
  border-radius: 1rem;
  border: 1px lightgray solid;
  width: auto;
  height: auto;
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.titel {
  font-size: 1.5rem;
  padding: 0.25rem;
}
.subtitel {
  font-size: 1rem;
  color: dimgray;
  padding: 0.25rem;
}
.infobutton {
  font-size: 1.75rem;
  margin-left: auto;
}



