@import "../../../global";

.drop-offLocation {
  border-radius: 1rem;
  border: 1px lightgray solid;
  width: auto;
  height: auto;
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: default;
}

.drop-offLocation:hover{
  border: 1px $colorPrimary solid;
  background: rgba(72, 96, 67, 0.08);
  .titel {
    //color: $colorPrimary;
  }
}

.titel {
  font-size: 1.5rem;
  padding: 0.25rem;
}



.website {
  font-size: 1rem;
  color: $colorPrimary;
  padding: 0.25rem;
  text-decoration: underline;
  cursor: pointer;
}

.subtitelTwo {
  font-size: 1rem;
  color: dimgray;
  padding: 0.25rem;
}
.infobutton {
  font-size: 1.75rem;
  margin-left: auto;
  cursor: pointer;
}



