<ion-content>
  <ion-row>
    <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
      <p class="page-title">Datenschutzerklärung</p>
      <div class="text-container">
        <p class="text-secondary">I. Name und Anschrift des Verantwortlichen
          Der verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler
          Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die Schumacher und von Pidoll GmbH
          Vogelsanger Straße 282
          50825 Köln
          Deutschland
          Tel.: +49 221 168 930 45
          E-Mail: info@mobile-box.eu
          Webseite: www.mobile-box.eu
          II. Name und Anschrift des Datenschutzbeauftragten
          Der Datenschutzbeauftragte des Verantwortlichen ist
          Jürgen Homberg
          Vogelsanger Straße 282
          50825 Köln
          Deutschland
          E-Mail: service@mobile-box.de
          III. Allgemeines zur Datenverarbeitung
          1. Umfang der Verarbeitung personenbezogener Daten
          Wir erheben und verwenden personenbezogene Daten unserer Nutzer grundsätzlich nur,
          soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und
          Leistungen erforderlich ist. Die Erhebung und Verwendung personenbezogener Daten un-
          serer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in
          solchen Fällen, in denen ein vorheriges Einholen einer Einwilligung aus tatsächlichen
          Gründen nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften
          gestattet ist.
          2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten
          Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der
          betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a EU-Datenschutz-Grundverordnung
          (DSGVO) als Rechtsgrundlage für die Verarbeitung personenbezogener Daten.
          Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages,
          dessen Vertragspartei die betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b
          DSGVO als Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge, die zur Durchfüh-
          rung vorvertraglicher Maßnahmen erforderlich sind.
          Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Ver-
          pflichtung erforderlich ist, der unser Unternehmen unterliegt, dient Art. 6 Abs. 1 lit. c DSG-
          VO als Rechtsgrundlage.
          Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen
          natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen,
          dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.
          Ist die Verarbeitung zur Wahrung eines berechtigten Interesses unseres Unternehmens
          oder eines Dritten erforderlich und überwiegen die Interessen, Grundrechte und Grund-
          freiheiten des Betroffenen das erstgenannte Interesse nicht, so dient Art. 6 Abs. 1 lit. f
          DSGVO als Rechtsgrundlage für die Verarbeitung.
          3. Datenlöschung und Speicherdauer
          Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt,
          sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus dann
          erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrecht-
          lichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche
          unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann,
          wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei
          denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsab-
          schluss oder eine Vertragserfüllung besteht.
          IV. Bereitstellung der Webseite und Erstellung von Logfiles
          1. Beschreibung und Umfang der Datenverarbeitung
          Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und In-
          formationen vom Computersystem des aufrufenden Rechners.
          Folgende Daten werden hierbei erhoben:
          • Informationen über den Browsertyp und die verwendete Version
          • Betriebssystem des Nutzers
          • Internet-Service-Provider des Nutzers
          • IP-Adresse des Nutzers
          • Datum und Uhrzeit des Zugriffs
          • Webseiten, von denen das System des Nutzers auf unsere Internetseite gelangt
          • Webseiten, die vom System des Nutzers über unsere Webseite aufgerufen werden
          Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speiche-
          rung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet
          nicht statt.
          2. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6
          Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um
          eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss
          die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben.
          Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen.
          Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Si-
          cherheit unserer informationstechnischen Systeme. Eine Auswertung der Daten zu Marke-
          tingzwecken findet in diesem Zusammenhang nicht statt.
          Zu diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung
          nach Art. 6 Abs. 1 lit. f DSGVO.
          4. Dauer der Speicherung
          Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
          nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der
          Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist.
          Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens 30 Tagen der Fall.
          Eine darüber hinausgehende Speicherung ist möglich. In diesem Fall werden die IP-
          Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden
          Clients nicht mehr möglich ist.
          5. Widerspruchs- und Beseitigungsmöglichkeit
          Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in
          Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich sei-
          tens des Nutzers keine Widerspruchsmöglichkeit.
          V. Verwendung von Cookies
          1. Beschreibung und Umfang der Datenverarbeitung
          Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im
          Internetbrowser bzw. vom Internetbrowser auf dem Computersystem des Nutzers gespei-
          chert werden. Ruft ein Nutzer eine Website auf, so kann ein Cookie auf dem Betriebssys-
          tem des Nutzers gespeichert werden. Dieser Cookie enthält eine charakteristische Zei-
          chenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen der
          Website ermöglicht.
          Wir verwenden auf unsere Webseite Cookies, die eine Analyse des Surfverhaltens der
          Nutzer ermöglichen. Auf diese Weise können folgende Daten übermittelt werden:
          • Eingegebene Suchbegriffe
          • Häufigkeit von Seitenaufrufen
          • Inanspruchnahme von Webseiten-Funktionen
          Die auf diese Weise erhobenen Daten der Nutzer werden durch technische Vorkehrungen
          pseudonymisiert. Daher ist eine Zuordnung der Daten zum aufrufenden Nutzer nicht mehr
          möglich. Die Daten werden nicht gemeinsam mit sonstigen personenbezogenen Daten der
          Nutzer gespeichert.
          Beim Aufruf unserer Website werden die Nutzer durch einen Infobanner über die Verwen-
          dung von Cookies zu Analysezwecken informiert und auf diese Datenschutzerklärung
          verwiesen. Es erfolgt in diesem Zusammenhang auch ein Hinweis darauf, wie die Spei-
          cherung von Cookies in den Browser-Einstellungen unterbunden werden kann.
          Weitere Informationen zu den Analyse-Cookies finden Sie in dieser Datenschutzerklärung
          unter den folgenden Punkten:
          • VI. Google Analytics
          • VII. Google AdWords
          2. Rechtsgrundlage für die Datenverarbeitung
          Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung
          von Cookies ist Art. 6 Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Die Verwendung der Analyse-Cookies erfolgt zu dem Zweck, die Qualität unserer Website
          und ihre Inhalte zu verbessern. Durch die Analyse-Cookies erfahren wir, wie die Website
          genutzt wird und können so unser Angebot stetig optimieren.
          In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der perso-
          nenbezogenen Daten nach Art. 6 Abs. 1 lit. f DSGVO.
          4. Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
          Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer
          Seite übermittelt. Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwen-
          dung von Cookies. Durch eine Änderung der Einstellungen in Ihrem Internetbrowser kön-
          nen Sie die Übertragung von Cookies deaktivieren oder einschränken. Bereits gespeicher-
          te Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen.
          Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle
          Funktionen der Website vollumfänglich genutzt werden.
          VI. Google Analytics
          1. Beschreibung und Umfang der Datenverarbeitung
          Wir nutzen bezüglich dieser Webseite die Komponente Google Analytics (mit Anonymisie-
          rungsfunktion). Google Analytics ist ein Web-Analyse-Dienst. Ein Web-Analyse-Dienst er-
          fasst unter anderem Daten darüber, von welcher Internetseite eine betroffene Person auf
          eine Internetseite gekommen ist, auf welche Unterseiten der Internetseite zugegriffen oder
          wie oft und für welche Verweildauer eine Unterseite betrachtet wurde. Eine Web-Analyse
          wird überwiegend zur Optimierung einer Internetseite und zur Kosten-Nutzen-Analyse von
          Internetwerbung eingesetzt.
          Betreibergesellschaft der Google-Analytics-Komponente ist die Google LLC, 1600 Amphi-
          theatre Pkwy, Mountain View, CA 94043-1351, USA.
          Wir verwenden für die Web-Analyse über Google Analytics den Zusatz
          “_gat._anonymizeIp”. Mittels dieses Zusatzes wird die IP-Adresse des Internetanschlusses
          der betroffenen Person von Google gekürzt und anonymisiert, wenn der Zugriff auf unsere
          Webseite aus einem Mitgliedstaat der Europäischen Union oder aus einem anderen Ver-
          tragsstaat des Abkommens über den Europäischen Wirtschaftsraum erfolgt.
          Mit Setzung des Cookies wird Google eine Analyse der Benutzung unserer Internetseite
          ermöglicht. Durch jeden Aufruf einer der Einzelseiten dieser Internetseite wird der Inter-
          netbrowser auf Ihrem Endgerät automatisch durch die jeweilige Google-Analytics-
          Komponente veranlasst, Daten zum Zwecke der Online-Analyse an Google zu übermitteln.
          Im Rahmen dieses technischen Verfahrens erhält Google Kenntnis über personenbezoge-
          ne Daten, wie die IP-Adresse, die Google unter anderem dazu dienen, die Herkunft der
          Besucher und Klicks nachzuvollziehen und in der Folge Provisionsabrechnungen zu er-
          möglichen.
          Mittels des Cookies werden personenbezogene Informationen, beispielsweise die Zu-
          griffszeit, der Ort, von welchem ein Zugriff ausging und die Häufigkeit der Besuche unserer
          Internetseite gespeichert. Bei jedem Besuch unserer Webseite werden diese personenbe-
          zogenen Daten, einschließlich der IP-Adresse des von Ihnen genutzten Internetanschlus-
          ses, an Google in den Vereinigten Staaten von Amerika übertragen. Diese personenbezo-
          genen Daten werden durch Google in den Vereinigten Staaten von Amerika gespeichert.
          Google gibt diese über das technische Verfahren erhobenen personenbezogenen Daten
          unter Umständen an Dritte weiter.
          2. Rechtsgrundlage der Datenverarbeitung
          Rechtsgrundlage für die Datenverarbeitung sind unsere berechtigten Interessen gem. Art.
          6 Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Der Zweck der Google-Analytics-Komponente ist die Analyse der Besucherströme auf un-
          serer Internetseite. Google nutzt die gewonnenen Daten und Informationen unter anderem
          dazu, die Nutzung unserer Internetseite auszuwerten, um für uns Online-Reports, welche
          die Aktivitäten auf unseren Internetseiten aufzeigen, zusammenzustellen, und um weitere
          mit der Nutzung unserer Internetseite in Verbindung stehende Dienstleistungen zu erbrin-
          gen.
          In diesem Zweck liegt auch unser berechtigtes Interesse in der Verarbeitung der perso-
          nenbezogenen Daten nach Art. 6 Abs. 1 lit. f DSGVO.
          4. Widerspruchs- und Beseitigungsmöglichkeit
          Sie können die Setzung von Cookies jederzeit mittels einer entsprechenden Einstellung
          des genutzten Internetbrowsers verhindern und damit der Setzung von Cookies dauerhaft
          widersprechen. Eine solche Einstellung des genutzten Internetbrowsers würde auch ver-
          hindern, dass Google ein Cookie auf Ihrem Endgerät setzt. Zudem kann ein von Google
          Analytics bereits gesetzter Cookie jederzeit über den Internetbrowser oder andere Soft-
          wareprogramme gelöscht werden.
          Ferner haben Sie die Möglichkeit, einer Erfassung der durch Google Analytics erzeugten,
          auf eine Nutzung dieser Internetseite bezogenen Daten sowie der Verarbeitung dieser Da-
          ten durch Google zu widersprechen und eine solche zu verhindern. Hierzu müssen Sie ein
          Browser-Add-On unter dem Link https://tools.google.com/dlpage/gaoptout herunterladen
          und installieren. Dieses Browser-Add-On teilt Google Analytics über JavaScript mit, dass
          keine Daten und Informationen zu den Besuchen von Internetseiten an Google Analytics
          übermittelt werden dürfen. Die Installation des Browser-Add-Ons wird von Google als Wi-
          derspruch gewertet. Wird Ihr informationstechnologisches System zu einem späteren Zeit-
          punkt gelöscht, formatiert oder neu installiert, muss eine erneute Installation des Browser-
          Add-Ons erfolgen, um Google Analytics zu deaktivieren. Sofern das Browser-Add-On
          durch Sie deinstalliert oder deaktiviert wird, besteht die Möglichkeit der Neuinstallation o-
          der der erneuten Aktivierung des Browser-Add-Ons.
          Weitere Informationen und die geltenden Datenschutzbestimmungen von Google können
          unter https://www.google.de/intl/de/policies/privacy/ und unter
          http://www.google.com/analytics/terms/de.html abgerufen werden. Google Analytics wird
          unter diesem Link https://www.google.com/intl/de_de/analytics/ genauer erläutert.
          VII. Google AdWords
          1. Beschreibung und Umfang der Datenverarbeitung
          Wir nutzen bezüglich dieser Webseite den Dienst Google AdWords. Google gestattet es
          Werbetreibenden, sowohl Anzeigen in den Suchmaschinenergebnissen von Google als
          auch im Google-Werbenetzwerk zu schalten. Google AdWords ermöglicht es einem Wer-
          betreibenden, vorab bestimmte Schlüsselwörter festzulegen, mittels derer eine Anzeige in
          den Suchmaschinenergebnissen von Google ausschließlich dann angezeigt wird, wenn
          der Nutzer mit der Suchmaschine ein schlüsselwortrelevantes Suchergebnis abruft. Im
          Google-Werbenetzwerk werden die Anzeigen mittels eines automatischen Algorithmus
          und unter Beachtung der zuvor festgelegten Schlüsselwörter auf themenrelevanten Inter-
          netseiten verteilt.
          Betreibergesellschaft der Dienste von Google AdWords ist die Google LLC, 1600 Amphi-
          theatre Pkwy, Mountain View, CA 94043-1351, USA.
          Gelangt eine Person über eine Google-Anzeige auf unsere Internetseite, wird auf dem in-
          formationstechnologischen System dieser Person durch Google ein sogenannter Conver-
          sion-Cookie abgelegt. Ein Conversion-Cookie verliert nach dreißig Tagen seine Gültigkeit
          und dient nicht zur Identifikation der betroffenen Person. Über den Conversion-Cookie
          wird, sofern das Cookie noch nicht abgelaufen ist, nachvollzogen, ob bestimmte Untersei-
          ten, beispielsweise der Warenkorb von einem Online-Shop-System, auf unserer Internet-
          seite aufgerufen wurden. Durch den Conversion-Cookie können sowohl wir als auch
          Google nachvollziehen, ob eine betroffene Person, die über eine AdWords-Anzeige auf
          unsere Internetseite gelangt ist, einen Umsatz generierte, also einen Warenkauf vollzogen
          oder abgebrochen hat.
          Die durch die Nutzung des Conversion-Cookies erhobenen Daten und Informationen wer-
          den von Google verwendet, um Besuchsstatistiken für unsere Internetseite zu erstellen.
          Diese Besuchsstatistiken werden durch uns wiederum genutzt, um die Gesamtanzahl der
          Nutzer zu ermitteln, welche über AdWords-Anzeigen an uns vermittelt wurde, also um den
          Erfolg oder Misserfolg der jeweiligen AdWords-Anzeige zu ermitteln und um unsere Ad-
          Words-Anzeigen für die Zukunft zu optimieren. Weder unser Unternehmen noch andere
          Werbekunden von Google-AdWords erhalten Informationen von Google, mittels derer die
          betroffene Person identifiziert werden könnte.
          Mittels des Conversion-Cookies werden personenbezogene Informationen, beispielsweise
          die durch die betroffene Person besuchten Internetseiten, gespeichert. Bei jedem Besuch
          unserer Internetseiten werden demnach personenbezogene Daten, einschließlich der IP-
          Adresse des von der betroffenen Person genutzten Internetanschlusses, an Google in den
          Vereinigten Staaten von Amerika übertragen. Diese personenbezogenen Daten werden
          durch Google in den Vereinigten Staaten von Amerika gespeichert. Google gibt diese über
          das technische Verfahren erhobenen personenbezogenen Daten unter Umständen an
          Dritte weiter.
          2. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Datenverarbeitung sind unsere berechtigten Interessen gem. Art.
          6 Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Der Zweck von Google AdWords ist die Bewerbung unserer Internetseite durch die Ein-
          blendung von interessenrelevanter Werbung auf den Internetseiten von Drittunternehmen
          und in den Suchmaschinenergebnissen der Suchmaschine Google und eine Einblendung
          von Fremdwerbung auf unserer Internetseite.
          4. Widerspruchs- und Beseitigungsmöglichkeit
          Sie können die Setzung von Cookies durch unsere Internetseite, wie oben bereits darge-
          stellt, jederzeit mittels einer entsprechenden Einstellung des genutzten Internetbrowsers
          verhindern und damit der Setzung von Cookies dauerhaft widersprechen. Eine solche Ein-
          stellung des genutzten Internetbrowsers würde auch verhindern, dass Google einen Con-
          version-Cookie auf Ihrem Endgerät setzt. Zudem kann ein von Google AdWords bereits
          gesetzter Cookie jederzeit über den Internetbrowser oder andere Softwareprogramme
          gelöscht werden.
          Ferner haben Sie die Möglichkeit, der interessenbezogenen Werbung durch Google zu
          widersprechen. Hierzu müssen Sie von jedem von ihnen genutzten Internetbrowser aus
          den Link www.google.de/settings/ads aufrufen und dort die gewünschten Einstellungen
          vornehmen.
          Weitere Informationen und die geltenden Datenschutzbestimmungen von Google können
          unter https://www.google.de/intl/de/policies/privacy/ abgerufen werden.
          VIII. Einsatz und Verwendung von Youtube
          1.        Beschreibung und Umfang der Datenverarbeitung
          Wir verwenden auf unserer Website eingebundene Videos des Anbieters YouTube LLC , 901 Cherry Avenue, San Bruno, CA 94066, USA, vertreten durch Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
          Die auf unserer Website vorhandenen YouTube-Videos sind mit dem sogenannten „erweiterten Datenschutzmodus“ eingebunden, so dass nicht bereits bei Aufruf unserer Webseite Ihre IP-Adresse an YouTube gesendet und Cookies auf Ihrem Rechner installiert werden.
          Wenn Sie das Video jedoch anklicken, übermitteln wir automatisch Ihre IP-Adresse an YouTube. Die Übermittlung des IP-Adresse ist zum Ansehen des Videos erforderlich. Sind Sie bei YouTube eingeloggt, wird diese Information auch Ihrem Benutzerkonto zugeordnet (dies können Sie verhindern, indem Sie sich vor dem Aufrufen des Videos bei YouTube ausloggen). Nähere Informationen können Sie der Datenschutzerklärung von YouTube unter www.google.de/intl/de/policies/privacy/ entnehmen.
          2.        Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Verarbeitung der Daten (Übermittlung) ist die Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO in die Datenverarbeitung.
          3.        Widerspruchs- und Beseitigungsmöglichkeit
          Da die Datenübermittlung an YouTube nicht rückgängig gemacht werden kann, besteht keine Widerspruchs- bzw. Beseitigungsmöglichkeit.
          Für Sie besteht jedoch die Möglichkeit, sich vor dem Anklicken von Videos aus Ihrem YouTube-Konto auszuloggen. In diesem Fall wird die übermittelte IP-Adresse nicht ihrem YouTube-Konto zugeordnet.
          VIIII. Newsletter
          1. Beschreibung und Umfang der Datenverarbeitung
          Auf unserer Internetseite besteht die Möglichkeit einen kostenfreien Newsletter zu abon-
          nieren. Dabei werden bei der Anmeldung zum Newsletter die Daten aus der Eingabemas-
          ke an uns übermittelt.
          Die auf diese Weise erhobenen Daten sind:
          • Vor- und Nachname des Nutzers
          • E-Mail-Adresse des Nutzers
          • Zeitpunkt der Anmeldung
          Für die Verarbeitung der Daten wird im Rahmen des Anmeldevorgangs Ihre Einwilligung
          eingeholt und auf diese Datenschutzerklärung verwiesen.
          Zur Anmeldung zu unserem Newsletter nutzen wir das sog. Double-Opt-In-Verfahren. So-
          bald der Nutzer sich auf unserer Seite angemeldet hat, erhält er eine E-Mail, in der um die
          Bestätigung der Anmeldung gebeten wird. Hierdurch wollen wir verhindern, dass sich nie-
          mand mit fremden E-Mail-Adressen anmelden kann.
          Wenn Sie auf unserer Internetseite Waren oder Dienstleistungen erwerben und hierbei
          Ihre E-Mail-Adresse hinterlegen, kann diese in der Folge durch uns für den Versand eines
          Newsletters verwendet werden. In einem solchen Fall wird über den Newsletter aus-
          schließlich Direktwerbung für eigene ähnliche Waren oder Dienstleistungen versendet.
          Die Daten werden ausschließlich für den Versand des Newsletters verwendet.
          2. Einsatz des Versand-Dienstleisters MailChimp
          Unsere Newsletter werden mithilfe von „MailChimp“ – einem Newsletter-Dienstleister –
          versendet. Es handelt sich hierbei um eine Newsletterversandplattform der The Rocket
          Science Group LLC, 675 Ponce de Leon Ave NE Suite 5000 Atlanta, GA 30308 USA.
          Alle von uns erfassten Daten werden auf den Servern von MailChimp gespeichert. Die
          Daten werden von MailChimp zum Versand und zur Auswertung des Newsletters genutzt.
          Darüber hinaus kann MailChimp die Daten zur Optimierung des eigenen Service nutzen
          (bspw. Darstellung der Newsletter, zur Bestimmung aus welchen Ländern die Empfänger
          kommen usw.). Allerdings nutzt MailChimp die Daten nicht, um die Empfänger selber an-
          zuschreiben oder die Daten an Dritte weiterzuleiten.
          MailChimp ist unter dem EU-US-Datenschutzabkommen „EU-US-Privacy Shield“ zertifi-
          ziert. Durch diese Zertifizierung verpflichtet sich MailChimp die EU-Datenschutzvorgaben
          einzuhalten. Weiterhin haben wir mit MailChimp ein „Data-Processing-Agreement“ ge-
          schlossen. Dies ist ein Vertrag, der MailChimp dazu verpflichtet, die Daten der Nutzer zu
          schützen, die Daten der Nutzer nur entsprechend unserer Datenschutzbestimmungen zu
          verarbeiten und die Daten der Nutzer nicht an Dritte weiterzugeben.
          3. Statistische Erhebung und Analysen
          Jeder Newsletter enthält einen sog. „web-beacon“. Hierbei handelt es sich um eine pixel-
          große Datei, die von MailChimp beim Öffnen des Newsletters abgerufen wird. Dadurch
          erhält MailChimp technische Informationen, wie
          * die IP-Adresse des Nutzers,
          * Informationen zum Browser und zum System des Nutzers,
          * den Zeitpunkt des Abrufs,
          * Datum des letzten Profil-Updates, sowie
          * die Sprachinformation.
          Diese Daten werden zur technischen Verbesserung des Service genutzt.
          Darüber hinaus wird mittels der „web-beacons“ festgestellt, ob die Newsletter geöffnet
          wurden, wann sie geöffnet werden und welche Links angeklickt werden. Es ist zwar mög-
          lich, die Daten einzelnen Nutzern zuzuordnen, jedoch wollen weder wir noch MailChimp
          die einzelnen Nutzer beobachten. Es sollen lediglich die Lesegewohnheiten der Nutzer
          erkannt werden, um die Inhalte auf die Nutzer anzupassen. Es sollten unterschiedliche
          Inhalte entsprechend den Interessen unserer Nutzer versendet werden.
          4. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Verarbeitung der Daten nach Anmeldung zum Newsletters durch
          den Nutzer ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO.
          Rechtsgrundlage für den Versand des Newsletters nach dem Verkauf von Waren oder
          Dienstleistungen ist im Falle von ähnlichen Waren und Dienstleistungen § 7 Abs. 3 UWG.
          Der Einsatz von MailChimp und die Durchführung der statistischen Erhebungen und Ana-
          lysen erfolgen auf Grundlage unserer berechtigten Interessen gem. Art. 6 Abs. 1 lit. f
          DSGVO. Unser berechtigtes Interesse ist in dem sicheren und nutzerfreundlichen Einsatz
          des Newsletters zu erblicken. Dies dient zum einem unserem wirtschaftlichen Interesse
          und zum anderen den Erwartungen der Nutzer.
          5. Zweck der Datenverarbeitung
          Die Erhebung der E-Mail-Adresse des Nutzers dient dazu, den Newsletter zuzustellen.
          Die Erhebung sonstiger personenbezogener Daten im Rahmen des Anmeldevorgangs
          dient dazu, einen Missbrauch der Dienste oder der verwendeten E-Mail-Adresse zu ver-
          hindern.
          6. Dauer der Speicherung
          Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
          nicht mehr erforderlich sind. Die E-Mail-Adresse des Nutzers wird demnach solange ge-
          speichert, wie das Abonnement des Newsletters aktiv ist.
          Die sonstigen im Rahmen des Anmeldevorgangs erhobenen personenbezogenen Daten
          werden in der Regel nach einer Frist von sieben Tagen gelöscht.
          7. Widerspruchs- und Beseitigungsmöglichkeit
          Das Abonnement des Newsletters kann durch den betroffenen Nutzer jederzeit gekündigt
          werden. Zu diesem Zweck findet sich in jedem Newsletter ein entsprechender Link.
          Hierdurch wird ebenfalls ein Widerruf der Einwilligung der Speicherung der während des
          Anmeldevorgangs erhobenen personenbezogenen Daten ermöglicht.
          IX. Kontaktformular und E-Mail-Kontakt
          1. Beschreibung und Umfang der Datenverarbeitung
          Auf unserer Internetseite ist ein Kontaktformular vorhanden, welches für die elektronische
          Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit war, so wer-
          den die in der Eingabemaske eingegeben Daten an uns übermittelt und gespeichert. Diese
          Daten sind:
          • Name des Nutzers
          • E-Mail-Adresse des Nutzers
          Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung
          eingeholt.
          Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In
          diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nut-
          zers gespeichert.
          Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten
          werden ausschließlich für die Verarbeitung der Konversation verwendet.
          2. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des
          Nutzers Art. 6 Abs. 1 lit. a DSGVO.
          Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-
          Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Ab-
          schluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6
          Abs. 1 lit. b DSGVO.
          3. Zweck der Datenverarbeitung
          Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein
          zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt
          hieran auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten.
          Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten
          dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit
          unserer informationstechnischen Systeme sicherzustellen.
          4. Dauer der Speicherung
          Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung
          nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske
          des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der
          Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konver-
          sation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sach-
          verhalt abschließend geklärt ist.
          Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten
          werden spätestens nach einer Frist von sieben Tagen gelöscht.
          5. Widerspruchs- und Beseitigungsmöglichkeit
          Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der perso-
          nenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so
          kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In
          einem solchen Fall kann die Konversation nicht fortgeführt werden.
          Der Widerruf der Einwilligung und der Widerspruch in die Speicherung der personenbezo-
          genen Daten erfolgt durch den Nutzer per E-Mail.
          Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden,
          werden in diesem Fall gelöscht.
          X. Einsatz und Verwendung von Facebook
          1. Beschreibung und Umfang der Datenverarbeitung
          Wir haben auf unserer Webseite unser Profil im sozialen Netzwerk Facebook verlinkt.
          Klickt der Nutzer diesen Link an, wird er auf unser Facebook-Profil weitergeleitet, ohne
          dass eine Weitergabe personenbezogener Daten, wie z.B. die IP-Adresse des Nutzers an
          Facebook erfolgt. Informationen zu den Daten, die anschließend von Facebook erhoben
          werden, finden Sie unter dem folgenden Link:
          https://www.facebook.com/privacy/explanation
          Des Weiteren haben wir das Facebook-Plug-In auf unserer Webseite integriert. Erkennbar
          sind die Einbindungen an dem Facebook-Logo bzw. an den „Like“-, „Gefällt mir“- oder
          „Teilen“-Schaltflächen.
          Betreibergesellschaft der Dienste von Facebook ist die Facebook, Inc., Hacker Way, Men-
          lo Park, CA 94025, USA. Informationen zu allen Facebook-Plug-Ins finden Sie unter dem
          folgenden Link:
          https://developers.facebook.com/docs/plugins/
          Die Plug-Ins werden erst aktiviert, wenn Sie auf die entsprechenden Schaltflächen klicken.
          Bis dahin sind diese inaktiv. Die Plug-Ins stellen nach der Aktivierung eine direkte Verbin-
          dung zwischen Ihrem Browser und den Facebook-Servern her. Wir haben keinerlei Ein-
          fluss auf die Art und den Umfang der Daten, die das Plug-In an Facebook übermittelt. In-
          formationen hierzu finden Sie unter:
          https://facebook.com/help/186325668085084
          Das Plug-In informiert Facebook darüber, dass Sie als Nutzer diese Webseite besucht
          haben. Es besteht hierbei die Möglichkeit, dass Ihre IP-Adresse gespeichert wird. Diese
          Informationsweitergabe erfolgt auch, wenn Sie kein Facebook-Profil besitzen. Sind Sie
          während des Besuchs auf dieser Webseite in ihrem Facebook-Konto eingeloggt, werden
          die genannten Informationen diesem zugeordnet.
          2. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des
          Nutzers Art. 6 Abs. 1 lit. a DSGVO.
          Rechtsgrundlage für die weitere Verarbeitung der Daten ist Art. 6 Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Die Verarbeitung der Daten erfolgt zur Optimierung unserer Webseite und einer erhöhten
          Reichweite unseres Online-Angebotes.
          In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach
          Art. 6 Abs. 1 lit. f DSGVO.
          4. Widerspruchs- und Beseitigungsmöglichkeit
          Für Sie besteht die Möglichkeit, sich vor dem Besuch unserer Webseite von Ihrem Face-
          book-Konto auszuloggen. In diesem Fall werden während des Besuchs unserer Webseite
          keine Daten ihrem Facebook-Konto zugeordnet.
          XI. Facebook Pixel
          Unsere Website nutzt zur Konversionsmessung das Besucheraktions-Pixel von Facebook, Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA (“Facebook”).
          So kann das Verhalten der Seitenbesucher nachverfolgt werden, nachdem diese durch Klick auf eine Facebook-Werbeanzeige auf die Website des Anbieters weitergeleitet wurden. Dadurch können die Wirksamkeit der Facebook-Werbeanzeigen für statistische und Marktforschungszwecke ausgewertet werden und zukünftige Werbemaßnahmen optimiert werden.
          Die erhobenen Daten sind für uns als Betreiber dieser Website anonym, wir können keine Rückschlüsse auf die Identität der Nutzer ziehen. Die Daten werden aber von Facebook gespeichert und verarbeitet, sodass eine Verbindung zum jeweiligen Nutzerprofil möglich ist und Facebook die Daten für eigene Werbezwecke, entsprechend der Facebook-Datenverwendungsrichtlinieverwenden kann. Dadurch kann Facebook das Schalten von Werbeanzeigen auf Seiten von Facebook sowie außerhalb von Facebook ermöglichen. Diese Verwendung der Daten kann von uns als Seitenbetreiber nicht beeinflusst werden.
          Die Nutzung von Facebook-Pixel erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an effektiven Werbemaßnahmen unter Einschluss der sozialen Medien.
          In den Datenschutzhinweisen von Facebook finden Sie weitere Hinweise zum Schutz Ihrer Privatsphäre: https://de-de.facebook.com/about/privacy/.
          Sie können außerdem die Remarketing-Funktion “Custom Audiences” im Bereich Einstellungen für Werbeanzeigen unter https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen deaktivieren. Dazu müssen Sie bei Facebook angemeldet sein.
          Wenn Sie kein Facebook Konto besitzen, können Sie nutzungsbasierte Werbung von Facebook auf der Website der European Interactive Digital Advertising Alliance deaktivieren: http://www.youronlinechoices.com/de/praferenzmanagement/.
          XII. Einsatz und Verwendung von Instagram
          1. Beschreibung und Umfang der Datenverarbeitung
          Wir haben auf unserer Webseite unser Profil im sozialen Netzwerk Instagram verlinkt.
          Klickt der Nutzer diesen Link an, wird er auf unser Instagram-Profil weitergeleitet, ohne
          dass eine Weitergabe personenbezogener Daten, wie z.B. die IP-Adresse des Nutzers an
          Facebook erfolgt. Informationen zu den Daten, die anschließend von Instagram erhoben
          werden, finden Sie unter dem folgenden Link:
          https://help.instagram.com/519522125107875?helpref=page_content
          Des Weiteren haben wir das Instagram-Plug-In auf unserer Webseite integriert. Erkennbar
          sind die Einbindungen an dem Instagram-Logo.
          Betreibergesellschaft der Dienste von Instagram ist die Instagram LLC, 1601 Willow Road,
          Menlo Park CA 94025, USA. Informationen zu den Instagram-Plug-Ins finden Sie unter
          dem folgenden Link:
          http://blog.instagram.com/post/36222022872/introducing-instagram-badges
          Die Plug-Ins werden erst aktiviert, wenn Sie auf die entsprechende Schaltfläche klicken.
          Bis dahin sind diese inaktiv. Die Plug-Ins stellen nach der Aktivierung eine direkte Verbin-
          dung zwischen Ihrem Browser und den Instagram-Servern her. Das Plug-In informiert Ins-
          tagram darüber, dass Sie als Nutzer diese Webseite besucht haben. Es besteht hierbei die
          Möglichkeit, dass Ihre IP-Adresse gespeichert wird. Diese Informationsweitergabe erfolgt
          auch, wenn Sie kein Facebook-Profil besitzen. Sind Sie während des Besuchs auf dieser
          Webseite in ihrem Instagram-Konto eingeloggt, werden die genannten Informationen die-
          sem zugeordnet.
          Wir haben keinerlei Einfluss auf die Art und den Umfang der Daten, die das Plug-In an
          Facebook übermittelt. Informationen hierzu finden Sie unter:
          http://instagram.com/about/legal/privacy/
          2. Rechtsgrundlage für die Datenverarbeitung
          Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des
          Nutzers Art. 6 Abs. 1 lit. a DSGVO.
          Rechtsgrundlage für die weitere Verarbeitung der Daten ist Art. 6 Abs. 1 lit. f DSGVO.
          3. Zweck der Datenverarbeitung
          Die Verarbeitung der Daten erfolgt zur Optimierung unserer Webseite und einer erhöhten
          Reichweite unseres Online-Angebotes.
          In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach
          Art. 6 Abs. 1 lit. f DSGVO.
          4. Widerspruchs- und Beseitigungsmöglichkeit
          Für Sie besteht die Möglichkeit, sich vor dem Besuch unserer Webseite von Ihrem Insta-
          gram-Konto auszuloggen. In diesem Fall werden während des Besuchs unserer Webseite
          keine Daten Ihrem Instagram-Konto zugeordnet.
          XII. Rechte der betroffenen Person
          Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSG-
          VO und es stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:
          1. Auskunftsrecht
          Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personen-
          bezogene Daten, die Sie betreffen, von uns verarbeitet werden.
          Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen über folgende
          Informationen Auskunft verlangen:
          (1) die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;
          (2) die Kategorien von personenbezogenen Daten, welche verarbeitet werden;
          (3) die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die Sie be-
          treffenden personenbezogenen Daten offengelegt wurden oder noch offengelegt-
          werden;
          (4) die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Da-
          ten oder, falls konkrete Angaben hierzu nicht möglich sind, Kriterien für die Festle-
          gung der Speicherdauer;
          (5) das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden
          personenbezogenen Daten, eines Rechts auf Einschränkung der Verarbei-
          tung durch den Verantwortlichen oder eines Widerspruchsrechts gegen
          diese Verarbei – tung;
          (6) das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
          (7) alle verfügbaren Informationen über die Herkunft der Daten, wenn die personen-
          bezogenen Daten nicht bei der betroffenen Person erhoben werden;
          (8) das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling
          gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen Fällen –
          aussage- kräftige Informationen über die involvierte Logik sowie die Tragweite und die
          ange- strebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.
          Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden perso-
          nenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt
          werden. In diesem Zusammenhang können Sie verlangen, über die geeigneten Garantien
          gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.
          2. Recht auf Berichtigung
          Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Ver-
          antwortlichen, sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, un-
          richtig oder unvollständig sind. Der Verantwortliche hat die Berichtigung unverzüglich vor-
          zunehmen.
          3. Recht auf Einschränkung der Verarbeitung
          Unter den folgenden Voraussetzungen können Sie die Einschränkung der Verarbeitung
          der Sie betreffenden personenbezogenen Daten verlangen:
          (1) wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer
          bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der per-
          sonen- bezogenen Daten zu überprüfen;
          (2) die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen
          Daten ablehnen und stattdessen die Einschränkung der Nutzung der perso-
          nenbe – zogenen Daten verlangen;
          (3) der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung
          nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Vertei-
          digung von Rechtsansprüchen benötigen, oder
          (4) wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO ein-
          gelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwort-
          lichen gegenüber Ihren Gründen überwiegen.
          Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten eingeschränkt,
          dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder
          zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum
          Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen
          eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet
          werden.
          Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen einge-
          schränkt, werden Sie von dem Verantwortlichen unterrichtet bevor die Einschränkung auf-
          gehoben wird.
          4. Recht auf Löschung
          a) Löschungspflicht
          Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbe-
          zogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, die-
          se Daten unverzüglich zu löschen, sofern einer der folgenden Gründe zutrifft:
          (1) Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für die sie er-
          hoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.
          (2) Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art. 6 Abs. 1
          lit. a oder Art. 9 Abs. 2 lit. a DSGVO stützte, und es fehlt an einer anderweiti-
          gen Rechtsgrundlage für die Verarbeitung.
          (3) Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und
          es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor,
          oder Sie legen gem. Art. 21 Abs. 2 DSGVO Widerspruch gegen die Verarbei-
          tung ein.
          (4) Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig verarbeitet.
          (5) Die Löschung der Sie betreffenden personenbezogenen Daten ist zur Erfüllung ei-
          ner rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitglied-
          staaten erforderlich, dem der Verantwortliche unterliegt.
          (6) Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene
          Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.
          b) Informationen an Dritte
          Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten öffentlich ge-
          macht und ist er gem. Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so trifft er
          unter Berücksichtigung der verfügbaren Technologie und der Implementierungskosten an-
          gemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwort-
          liche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als
          betroffene Person von ihnen die Löschung aller Links zu diesen personenbezogenen Da-
          ten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.
          c) Ausnahmen
          Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich ist
          (1) zur Ausübung des Rechts auf freie Meinungsäußerung und Information;
          (2) zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht
          der Union oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, er-
          fordert, oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Inte-
          resse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verant-
          wortlichen übertragen wurde;
          (3) aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit
          gemäß Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;
          (4) für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder histori-
          sche Forschungszwecke oder für statistische Zwecke gem. Art. 89 Abs. 1 DSGVO,
          soweit das unter Abschnitt a) genannte Recht voraussichtlich die Verwirkli-
          chung der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, o-
          der
          (5) zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
          5. Recht auf Unterrichtung
          Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung
          gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfän-
          gern, denen die Sie betreffenden personenbezogenen Daten offengelegt wurden, diese
          Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen,
          es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Auf-
          wand verbunden.
          Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger unter-
          richtet zu werden.
          6. Recht auf Datenübertragbarkeit
          Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Ver-
          antwortlichen bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesba-
          ren Format zu erhalten. Außerdem haben Sie das Recht diese Daten einem anderen Ver-
          antwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezoge-
          nen Daten bereitgestellt wurden, zu übermitteln, sofern
          (1) die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO oder Art. 9
          Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs. 1 lit. b DSGVO
          beruht und
          (2) die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
          In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die Sie betref-
          fenden personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Ver-
          antwortlichen übermittelt werden, soweit dies technisch machbar ist. Freiheiten und Rech-
          te anderer Personen dürfen hierdurch nicht beeinträchtigt werden.
          Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung personenbezogener
          Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interes-
          se liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen
          wurde.
          7. Widerspruchsrecht
          Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, je-
          derzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die auf-
          grund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch
          für ein auf diese Bestimmungen gestütztes Profiling.
          Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht
          mehr, es sei denn, er kann zwingende schutzwürdige Gründe für die Verarbeitung nach-
          weisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung
          dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
          Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu
          betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie
          betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen;
          dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.
          Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie
          betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.
          Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten der Informa-
          tionsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr Widerspruchsrecht mittels
          automatisierter Verfahren auszuüben, bei denen technische Spezifikationen verwendet
          werden.
          8. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung
          Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu wider-
          rufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Ein-
          willigung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
          9. Automatisierte Entscheidung im Einzelfall einschließlich Profilen
          Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung –
          einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen ge-
          genüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt.
          Dies gilt nicht, wenn die Entscheidung
          (1) für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und dem Ver-
          antwortlichen erforderlich ist,
          (2) aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der
          Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften ange-
          messene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer
          berechtigten In- teressen enthalten oder
          (3) mit Ihrer ausdrücklichen Einwilligung erfolgt.
          Allerdings dürfen diese Entscheidungen nicht auf besonderen Kategorien personenbezo-
          gener Daten nach Art. 9 Abs. 1 DSGVO beruhen, sofern nicht Art. 9 Abs. 2 lit. a oder g gilt
          und angemessene Maßnahmen zum Schutz der Rechte und Freiheiten sowie Ihrer be-
          rechtigten Interessen getroffen wurden.
          Hinsichtlich der in (1) und (3) genannten Fälle trifft der Verantwortliche angemessene
          Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten Interessen zu wahren,
          wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Ver-
          antwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entschei-
          dung gehört.
          10. Recht auf Beschwerde bei einer Aufsichtsbehörde
          Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbe-
          helfs steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in
          dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßli-
          chen Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffen-
          den personenbezogenen Daten gegen die DSGVO verstößt.
          Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde, unterrichtet den Be-
          schwerdeführer über den Stand und die Ergebnisse der Beschwerde einschließlich der
          Möglichkeit eines gerichtlichen Rechtsbehelfs nach Art. 78 DSGVO.
          Disclaimer – rechtliche Hinweise
          § 1 Haftungsbeschränkung
          Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt jedoch keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Anbieters wieder. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande.
          § 2 Externe Links
          Diese Website enthält Verknüpfungen zu Websites Dritter (“externe Links”). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.
          § 3 Urheber- und Leistungsschutzrechte
          Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.
          Die Darstellung dieser Website in fremden Frames ist nur mit schriftlicher Erlaubnis zulässig.
          § 4 Besondere Nutzungsbedingungen
          Soweit besondere Bedingungen für einzelne Nutzungen dieser Website von den vorgenannten Paragraphen abweichen, wird an entsprechender Stelle ausdrücklich darauf hingewiesen. In diesem Falle gelten im jeweiligen Einzelfall die besonderen Nutzungsbedingungen.
        </p><br/>

      </div>
    </ion-col>
  </ion-row>
</ion-content>
