<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
  #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
  #mergeRow-gdpr {margin-top: 20px;}
  #mergeRow-gdpr fieldset label {font-weight: normal;}
  #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
  <form action="https://mobile-box.us12.list-manage.com/subscribe/post?u=1d086ba5a6f5843b383a833ef&amp;id=56c4f8b22c&amp;v_id=6769&amp;f_id=005abae0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Mobile Box Newsletter Anmeldung</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email-Addresse*  <span class="asterisk">*</span>
        </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">Vorname  <span class="asterisk">*</span>
        </label>
        <input type="text" value="" name="FNAME" class="required" id="mce-FNAME" required>
        <span id="mce-FNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Nachname </label>
        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        <span id="mce-LNAME-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE7">Was für ein Sammler-Typ bist du?  <span class="asterisk">*</span>
        </label>
        <select name="MMERGE7" class="required" id="mce-MMERGE7" required>
          <option value=""></option>
          <option value="Einzelperson">Einzelperson</option>
          <option value="BUND Gruppe">BUND Gruppe</option>
          <option value="Wahlkreisbüro">Wahlkreisbüro</option>
          <option value="Einzelhandel">Einzelhandel</option>
          <option value="Hochschule">Hochschule</option>
          <option value="Schule">Schule</option>
          <option value="Vereine &amp; Sportgruppen">Vereine &amp; Sportgruppen</option>
          <option value="Gemeinden &amp; Kommunen">Gemeinden &amp; Kommunen</option>
          <option value="Bücherei">Bücherei</option>
          <option value="Unternehmen">Unternehmen</option>
          <option value="Sonstiges">Sonstiges</option>

        </select>
        <span id="mce-MMERGE7-HELPERTEXT" class="helper_text"></span>
      </div>
      <div class="mc-field-group">
        <label for="mce-MMERGE6">Name der Organisation </label>
        <input type="text" value="" name="MMERGE6" class="" id="mce-MMERGE6">
        <span id="mce-MMERGE6-HELPERTEXT" class="helper_text"></span>
      </div>
      <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
        <div class="content__gdpr">
          <label>Marketing Erlaubnis</label>
          <p>Bitte wählen Sie aus, auf welchem Wege wir Sie kontaktieren dürfen :</p>
          <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
            <label class="checkbox subfield" for="gdpr_90517"><input type="checkbox" id="gdpr_90517" name="gdpr[90517]" value="Y" class="av-checkbox gdpr"><span>Email</span> </label>
          </fieldset>
          <p>Diese Emails können jederzeit über den Link im Footer unserer Emails abbestellt werden. Mehr Informationen zu unseren Datenschutz-Bestimmungen befinden sich auf unserer Webseite.</p>
        </div>
        <div class="content__gdprLegal">
          <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/terms" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
        </div>
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1d086ba5a6f5843b383a833ef_56c4f8b22c" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[7]='MMERGE7';ftypes[7]='dropdown';fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='MMERGE6';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
