@import '../../../../global';

.section {
  margin-top: 0rem !important;
}

.page {
  margin-top: -$heightMenu;
}

.header-container {
  height: 95vh;
}

.header-image-main {
  height: 95vh;
}

._header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  text-align: left;
  align-self: center;
  margin-left: 8rem;
  margin-top: 4rem;
}

._header-title {
  color: white;
  font-size: 5rem;

}

.header-text {
  color: white;
  font-size: 2.5rem;
  margin-top: 2rem;
  font-weight: 400;
  width: 50%;
  line-height: 3rem;
}

.header-button-container {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 2rem !important;
}

.button-white-one {
  align-self: start !important;
  margin-left: 0rem !important;
}

.header-title-button {
  align-self: start !important;
}

// Profile

.profile-container {
  background: $colorThemeGreenLight;
  padding: 4rem 8rem 4rem 8rem !important;
}

.profile-container-scan {
  @extend .profile-container;
  background: $colorThemeGreenLight;
}

.profile-container-reuse {
  @extend .profile-container;
  background: $colorThemeBlueLight;
}

.profile-container-refurb {
  @extend .profile-container;
  background: $colorThemeOrangeLight;
}

.profile-container-recycling {
  @extend .profile-container;
  background: $colorThemeYellowLight;
}

.profile-container-title {
  display: flex;
  align-items: center;
}

.profile-container-content {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.profile-container-text {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.profile-title {
  font-size: $sizeTitle;
  padding-left: 2rem;
  font-weight: 600;
}

.profile-title-scan {
  @extend .profile-title;
  color: $colorThemeGreen;
}

.profile-title-reuse {
  @extend .profile-title;
  color: $colorThemeBlue;
}

.profile-title-refurb {
  @extend .profile-title;
  color: $colorThemeOrange;
}

.profile-title-recycling{
  @extend .profile-title;
  color: $colorThemeYellow;
}

.profile-title-security {
  @extend .profile-title;
  color: $colorThemeBlue;
}

.profile-subtitle {
  font-size: $sizeTextSubtitle;
  color: $colorTextPrimary;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.profile-text {
  font-size: $sizeText;
  color: $colorTextSecondary;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.profile-text-extend {
  font-size: $sizeText;
  color: $colorTextSecondary;
  cursor: pointer;
  margin-bottom: 2rem;
  font-weight: 600;
}

.profile-line-vertical {
  width: 0.40rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
}

.profile-line-vertical-scan {
  @extend .profile-line-vertical;
  background: $colorThemeGreen;
}
.profile-line-vertical-reuse {
  @extend .profile-line-vertical;
  background: $colorThemeBlue;
}
.profile-line-vertical-refurb {
  @extend .profile-line-vertical;
  background: $colorThemeOrange;
}
.profile-line-vertical-recycling {
  @extend .profile-line-vertical;
  background: $colorThemeYellow;
}
.profile-line-vertical-security {
  @extend .profile-line-vertical;
  background: $colorThemeBlue;
}

.profile-line-horizontal {
  height: 0.2rem;
  margin-right: 1.8rem;
  margin-left: 1.8rem;
  width: 100%;
}

.profile-line-horizontal-scan {
  @extend .profile-line-horizontal;
  background: $colorThemeGreen;
}
.profile-line-horizontal-reuse {
  @extend .profile-line-horizontal;
  background: $colorThemeBlue;
}
.profile-line-horizontal-refurb {
  @extend .profile-line-horizontal;
  background: $colorThemeOrange;
}
.profile-line-horizontal-recycling {
  @extend .profile-line-horizontal;
  background: $colorThemeYellow;
}
.profile-line-horizontal-security {
  @extend .profile-line-horizontal;
  background: $colorThemeBlue;
}

.profile-icon {
  border-radius: 0.5rem !important;
  height: 4rem;
  width: 4rem;
}

.profile-image-container {
  display: flex !important;
}

.profile-image {
  border-radius: 0.5rem;
  height: 16rem !important;
  width: 16rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: center !important;
}

// pros

.pro-container {
  margin: 8rem 4rem 2rem 4rem;
}

.pro-title {
  color: $colorPrimary;
  font-size: $sizeTitleBig;
  font-family: 'neo_sans_pro_medium' !important;
  text-align: center;
  margin-bottom: 2rem !important;
}

.pro-box-container {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.pro-box-title {
  color: $colorTextPrimary;
  font-size: $sizeTitle;
  line-height: 2.5rem;
  text-align: center;
}

.pro-box-text {
  color: $colorTextSecondary;
  font-size: $sizeText;
  text-align: center;
  line-height: 2rem;
  padding: 1rem;
}

.pro-box-icon {
  text-align: center !important;
  height: 8rem !important;
  width: 8rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.pro-box-icon-repair {
  @extend .pro-box-icon;
  margin: 3rem;
}

@media screen and (max-width: 1200px){

  ._header-title-container {
    margin-left: 1.5rem;
    width: 90vw;
  }

  ._header-title {
    font-size: 2rem;
  }

  .header-text {
    font-size: 1.5rem;
    width: 100%;
  }

  .header-button-container {
    //display: none;
  }

  .button-white-one {
    font-size: 1.5rem;
  }

  .header-title-button {
    display: none;
  }

  .profile-line-vertical {
    display: none;
  }

  .profile-line-horizontal {
    display: none;
  }

  .profile-container {
    padding: 2rem 1rem 2rem 1rem !important;
  }

  .profile-container-text {
    margin-left: 0rem;
  }

  .pro-container {
    margin: 3rem 1rem 2rem 1rem;
  }
  .pro-box-container {
    margin: 0.5rem;
  }

  .pro-title {
    margin-bottom: 1rem;
  }

  .pro-box-text {
    margin-top: 1rem;
  }

  .profile-title-reuse {
    font-size: 1.5rem;
  }

  .profile-subtitle {
    font-size: 1.6rem;
  }

}



