<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/logo/logo_mobile_box.png" class="section-logo">
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <h1 class="section-title">Mobile-Box | Handysammlung</h1>
          <p class="section-text">Das Handy-Rücknahmesystem Mobile-Box wurde 2012 von Till & Eric in Köln gegründet und
            ermöglicht mit seinen über 1000 Sammelstandorten in ganz Deutschland eine einfache und umweltgerechte
            Verwertung von alten Handys. Auf die Idee sind wir durch einen Zeitungsartikel gekommen, der über die vielen ungenutzten Handys in deutschen Schubladen berichtet hat. Wir konnten nicht verstehen, warum noch keine funktionierende Verwertungs-Lösung existierte und sahen darin unsere Chance.
          Nach dem Ende unseres Studiums 2014 haben wir neben dem Recycling angefangen alte Handys aufzubereiten und innerhalb Europas über Online-Shops zu verkaufen. Das Unternehmen wurde damit nicht nur nachhaltiger, sondern konnte auch eine wirtschaftliche Perspektive entwickeln, die bis heute die Grundlage für die Existenz von Mobile-Box.</p>
      </ion-col>
    </ion-row>
    <div class="section-container-green">
      <p class="section-title-white">Unsere Motivation</p>
      <div class="box-group">
        <ion-row>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="cube"></ion-icon>
              <p
                class="box-title-white">Soziale Teilhabe</p>
              <p class="box-text-white">Mobile-Box versuchen für jeden der bei uns im Unternehmen mit "anpacken" möchte
                einen Arbeitsplatz zu finden. Wir arbeiten eng mit sozialen Trägern wie der Caritas zusammen, um auch
                Menschen mit Einschränkungen beschäftigen zu können.</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="megaphone"></ion-icon>
              <h3 class="box-title-white">Umweltschutz</h3>
              <p class="box-text-white">Das Team von Mobile-Box vereint der Wille zum Umweltschutz. Durch unsere Arbeit
                können wir, wie auch alle Sammelpartner von Mobile-Box einen wichtigen Beitrag leisten und wertvolle
                Ressourcen schonen.</p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="arrow-redo"></ion-icon>
              <p
                class="box-title-white">Wirtschaftlichkeit</p>
              <p class="box-text-white">In herausfordernden Zeiten ist solides Wirtschaften die Voraussetzung für ein
                Fortbestehen. In unseren Augen aber nicht zum Preis der Nachhaltigkeit. Daher verkaufen wir
                ausschließlich aufbereitete Handys und führen nicht wiederverwendbare Geräte einem umweltschonenden
                Recycling zu. </p>
            </div>
          </ion-col>
          <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
            <div class="box-green">
              <ion-icon class="box-icon-white" name="medal"></ion-icon>
              <p
                class="box-title-white">Gesellschaftliche Verantwortung</p>
              <p class="box-text-white">Die umweltgerechte Verwertung von alter Elektronik ist eine gesellschaftliche
                Herausforderung. Wir möchten als Teil der Lösung einen Beitrag leisten und Verantwortung für dieses
                Problem übernehmen.</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <h3 class="section-title">Futurephones | Online-Shop</h3>
          <p class="section-text">Das Handy der Zukunft ist gebraucht und dadurch nachhaltig. Wir schaffen mit unseren
            professionell aufbereiteten Futurephones das passende Angebot.
            Du profitierst bei deinem Einkauf in unserem Shop von einer einjährigen Gewährleistung, kompetenten
            Kundenbetreuung und Spendenoption an einen gemeinnützigen Verein deiner Wahl. Die Idee zu Futurephones kam uns nachdem wir bereits einige Jahre unsere aufbereiteten Handys aus der Mobile-Box Handysammlung auf Amazon und Ebay verkauft hatten.
          Mit Futurephones wollen wir unsere eigene Geschichte erzählen und unabhängig von den genannten Marktplätzen werden. Das Konzept funktioniert und wir freuen uns über steigende Besucherzahlen.</p>
        <ion-button class="section-button" (click)="onLink('https://www.futurephones-shop.de')">Online-Shop besuchen
        </ion-button>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/logo/logo_futurephones.png" class="section-logo">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12">
        <img src="../../assets/logo/logo_green2b.png" class="section-logo">
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="section-container-text">
        <h3 class="section-title">Green2B | Firmenhandys</h3>
          <p class="section-text">Green2B ermöglicht die umweltgerechte und sichere Verwertung von Dienstgeräten. Die
            zertifizierten Lösch-Prozesse sind dabei speziell auf die Bedürfnisse von Unternehmen und Behörden
            ausgerichtet. Die Idee zu Green2B kam uns als die Mobile-Box immer mehr Anfragen von Unternehmen erhielt und wir erkannten, dass es für diese ein eigenes Angebot benötigt. Green2B hat sich seitdem auf die sichere Verwertung von Dienstgeräten spezialisiert und konnte seinen Kundenstamm stegig erweitern.
          Um den steigenden Anfragen gerecht zu werden, haben wir uns 2022 flächenmäßig vergrößert und wollen das Angebot von Green2B nun erweitern.</p>
        <ion-button class="section-button" (click)="onLink('https://www.green2b.de')">Website besuchen</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
