<ion-header>
  <ion-toolbar class="menu-container" [style.height.rem]="menuHeight" [style.opacity]="menuOpacity">
    <ion-img slot="start" class="menu-logo" width="286" height="300" [src]="'../../assets/logo/mobile_box.webp'"
             [routerLink]="'/mobile-box/menu/home'"></ion-img>
    <div id="menu-container-text" slot="end" class="menu-container-text">
      <div class="menu-container-text-single" [routerLink]="'/'" (click)="onMenu(0)">
        <p class="menu-text">HOME</p>
        <div [ngClass]="menuSelected == 0 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/handys-spenden'" (click)="onMenu(1)">
        <p class="menu-text">HANDYS SPENDEN</p>
        <div [ngClass]="menuSelected == 1 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/sammelaktion-starten'" (click)="onMenu(2)">
        <p class="menu-text">SAMMELAKTION STARTEN</p>
        <div [ngClass]="menuSelected == 2 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/verwertung'" (click)="onMenu(3)">
        <p class="menu-text">VERWERTUNG</p>
        <div [ngClass]="menuSelected == 3 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/über-uns'" (click)="onMenu(4)">
        <p class="menu-text">ÜBER UNS</p>
        <div [ngClass]="menuSelected == 4 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
    </div>
    <ion-icon id="menu-toggle" slot="end" class="menu-toggle" [name]="bMenuVertical ? 'close' : 'menu'"
              (click)="onMenuToggle()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'ion-content-absolute' : menuSelected == 0}" (scroll)="onScroll($event)">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<div *ngIf="bMenuVertical" class="menu-vertical">
  <div class="menu-vertical-transparency">
  </div>
  <div class="menu-container-vertical">
    <p [ngClass]="menuSelected == 0 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/home'"
       (click)="onMenu(0)">HOME</p>
    <p [ngClass]="menuSelected == 1 ? 'menu-vertical-text-selected' : 'menu-vertical-text'"
       [routerLink]="'/handys-spenden'" (click)="onMenu(1)">HANDYS SPENDEN</p>
    <p [ngClass]="menuSelected == 2 ? 'menu-vertical-text-selected' : 'menu-vertical-text'"
       [routerLink]="'/sammelaktion-starten'" (click)="onMenu(2)">SAMMELAKTION STARTEN</p>
    <p [ngClass]="menuSelected == 3 ? 'menu-vertical-text-selected' : 'menu-vertical-text'"
       [routerLink]="'/verwertung'" (click)="onMenu(3)">VERWERTUNG</p>
    <p [ngClass]="menuSelected == 4 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/über-uns'"
       (click)="onMenu(4)">ÜBER UNS</p>
  </div>
</div>
<div *ngIf="!cookiesAccepted()" class="cookie-container">
  <ion-row class="cookie-ion-row">
    <ion-col size-xl="8" size-lg="8" size-md="12" size-sm="12" size-xs="12">
        <p class="cookie-text">Mit Klick auf "Alle Cookies akzeptieren" stimmst Du zu, dass alle Cookies auf deinem
          Gerät gespeichert werden. Durch die Nutzung von Cookies verstehen wir wie die Website genutzt wird und nutzen dieses Wissen zur Weiterentwicklung der Website.</p>
    </ion-col>
    <ion-col class="cookie-button-container" size-xl="2" size-lg="2" size-md="12" size-sm="12" size-xs="12">
      <button class="button-two" (click)="onCookieSettings()">Cookie Einstellungen</button>
    </ion-col>
    <ion-col class="cookie-button-container" size-xl="2" size-lg="2" size-md="12" size-sm="12" size-xs="12">
      <button class="button-one" (click)="onCookieAccept()">Cookies akzeptieren</button>
    </ion-col>
  </ion-row>
</div>



