@import "../../../global";
@import "../../../theme/variables";

@media screen and (min-width: 0px) and (max-width: 900px) {
  #menu-toggle { display: block !important; }  /* show it on small screens */
}

@media screen and (min-width: 901px) {
  #menu-toggle { display: none !important; }   /* hide it elsewhere */
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  #menu-container-text { display: none; }
}

@media screen and (min-width: 901px) {
  #menu-container-text { display: flex; }
}

.ion-content-absolute {
  position: absolute;
}

.cookie-container {
  height: auto !important;
  background: $colorBackground;
  position: relative !important;
}

.cookie-text {
  font-size: $sizeTextSmall;
  color: $colorTextSecondary;
  padding: 1.5rem;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .cookie-text { text-align: center }
}

.cookie-text-container {
  margin-top: 0rem;
}

.cookie-ion-row {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.cookie-button-container {
  text-align: center;
}

.cookie-button-two {
  @extend .button-two;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cookie-button-one {
  @extend .button-one;
  font-size: 1rem;
  margin-bottom: 1rem;
}
