<ion-header>
  <ion-toolbar class="menu-container" [style.height.rem]="menuHeight" [style.opacity]="menuOpacity">
    <ion-img slot="start" class="menu-logo" [src]="'../../assets/logo/logo_mobile_box.png'"
             [routerLink]="'/mobile-box/menu/home'"></ion-img>
    <div id="menu-container-text" slot="end" class="menu-container-text">
      <div class="menu-container-text-single" [routerLink]="'/home'" (click)="onMenu(0)">
        <p class="menu-text">HOME</p>
        <div [ngClass]="menuSelected == 0 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/handys-spenden'" (click)="onMenu(1)">
        <p class="menu-text">HANDYS SPENDEN</p>
        <div [ngClass]="menuSelected == 1 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/sammelaktion-starten'" (click)="onMenu(2)">
        <p class="menu-text">SAMMELAKTION STARTEN</p>
        <div [ngClass]="menuSelected == 2 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
      <div class="menu-container-text-single" [routerLink]="'/über-uns'" (click)="onMenu(3)">
        <p class="menu-text">ÜBER UNS</p>
        <div [ngClass]="menuSelected == 3 ? 'menu-text-underline-visible' : 'menu-text-underline'"></div>
      </div>
    </div>
    <ion-icon id="menu-toggle" slot="end" class="menu-toggle" [name]="bMenuVertical ? 'close' : 'menu'" (click)="onMenuToggle()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'ion-content-absolute' : menuSelected == 0}" (scroll)="onScroll($event)">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<div *ngIf="bMenuVertical" class="menu-vertical">
  <div class="menu-vertical-transparency">
  </div>
  <div class="menu-container-vertical">
    <p [ngClass]="menuSelected == 0 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/home'" (click)="onMenu(0)">HOME</p>
    <p [ngClass]="menuSelected == 1 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/handys-spenden'" (click)="onMenu(1)">HANDYS SPENDEN</p>
    <p [ngClass]="menuSelected == 2 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/sammelaktion-starten'" (click)="onMenu(2)">SAMMELAKTION STARTEN</p>
    <p [ngClass]="menuSelected == 3 ? 'menu-vertical-text-selected' : 'menu-vertical-text'" [routerLink]="'/über-uns'" (click)="onMenu(3)">ÜBER UNS</p>
  </div>
</div>



