<div class="section">
  <p class="section-title-green"><b>Mitmachen</b></p>
</div>
<div class="arrow-down"></div>
<div class="box-group">
  <ion-row>
    <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
      <div class="box">
        <ion-icon class="box-icon" name="mail-outline"></ion-icon>
        <h3 class="box-title">Handys spenden</h3>
        <ion-button class="box-button" (click)="onMenu('handys-spenden')">Mehr erfahren</ion-button>
      </div>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
      <div class="box">
        <ion-icon class="box-icon" name="rocket-outline"></ion-icon>
        <h3 class="box-title">Sammelaktion starten</h3>
        <ion-button class="box-button" (click)="onMenu('sammelaktion-starten')">Mehr erfahren</ion-button>
      </div>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
      <div class="box">
        <ion-icon class="box-icon" name="paper-plane-outline"></ion-icon>
        <p class="box-title">Kontakt aufnehmen</p>
        <ion-button class="box-button" (click)="onContact()">Mehr erfahren</ion-button>
      </div>
    </ion-col>
    <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
      <div class="box">
        <ion-icon class="box-icon" name="newspaper-outline"></ion-icon>
        <p class="box-title">Newsletter abonnieren</p>
        <ion-button class="box-button" (click)="onSubscribe()">Mehr erfahren</ion-button>
      </div>
    </ion-col>
  </ion-row>
</div>
