<md-dialog-content>
<div class="cookie-banner">
    <div class="cookie-topper">
    </div>
    <div class="cookie-container">
      <div class="cookie-header">
        <p class="cookie-title">Einwilligung zu Cookies & Daten</p>
        <img class="cookie-logo" src="assets/logo/logo_mobile_box.png">
      </div>
      <div class="cookie-text-container">
        <p class="cookie-text">Wir verwenden Cookies, um Ihre Erfahrung auf dieser Website zu optimieren und Ihnen
          Dienstleistungen und Kommunikation anzubieten, die auf Ihre Interessen zugeschnitten sind. Mit dem Klick auf
          "Akzeptieren" stimmen Sie der Verwendung dieser Cookies zu. Detaillierte Informationen finden Sie in unserer
          <a
            [routerLink]="['datenschutzerklärung']">Datenschutzerklärung</a>. Sie können Ihre Einstellungen jederzeit
          später ändern/widerrufen, indem Sie auf die Schaltfläche in der linken unteren Ecke der Seite klicken.</p>
      </div>
      <ion-row class="cookie-button-container">
        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
          <div class="cookie-button-two">Erweiterte Einstellungen</div>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
          <div class="cookie-button-two">Nur technisch notwendige Cookies</div>
        </ion-col>
        <ion-col size-xl="4" size-lg="4" size-md="12" size-sm="12" size-xs="12">
          <div class="cookie-button-one">Alles akzeptieren</div>
        </ion-col>
      </ion-row>
      <div class="cookie-footer-row">
        <p class="cookie-footer-text">Datenschutzerklärung</p>
        <p class="cookie-footer-text">Impressum</p>
      </div>
    </div>
  </div>
</md-dialog-content>
<!--




      -->
