/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/variables";

// FONTS
@font-face {
  font-family: neo_sans_pro;
  src: url(assets/font/NeoSansProRegular.OTF) format("opentype");
}

@font-face {
  font-family: neo_sans_pro_medium;
  src: url(assets/font/NeoSansProMedium.OTF) format("opentype");
}
/*
@media (prefers-color-scheme: dark) {
  body {
    /* dark mode variables go here /
    // Color - Text - Dark

    $colorTextPrimary: #e8e8e8 !important;
    $colorTextSecondary: #BDBDBD !important;
    $colorTextTertiary: #888888 !important;
    $colorDivider: #BDBDBD !important;
    $colorBackground: #212121 !important;
    $colorUnderline: #b4b4b4 !important;
  }

  // Color - Text
  $colorTextPrimary: #212121;
  $colorTextSecondary: #424242;
  $colorTextTertiary: #888888;
  $colorDivider: #BDBDBD;
  $colorBackground: #e8e8e8;
  $colorUnderline: #b4b4b4;
}
*/
// MENU
$heightMenu: 6rem;


// COLOR

$colorPrimary: #315c00;


// TEXT

// Text | Size
$textSizeMenu: 1rem;


// Text | Color
$textColorMenu: #4e4e4e;

// HTML

* {
  font-family: 'neo_sans_pro' !important;
}

b {
  font-family: 'neo_sans_pro_medium' !important;
}

p {
  margin: 0rem;
  padding: 0rem;
}

span {
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $colorPrimary; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5rem; /* Also needed for space (tweak if needed) */
  margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

img {
  padding: 0rem !important;
  margin: 0rem !important;
}

b {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0rem !important;
  padding: 0rem !important;
}

// IONIC

ion-grid {
  margin: 0rem !important;
  padding: 0rem !important;
}

ion-row {
  margin: 0rem !important;
  padding: 0rem !important;
}

ion-col {
  margin: 0rem !important;
  padding: 0rem !important;
}

ion-tab-bar {
  height: 5rem !important;
}

ion-tab-button {
  width: 10rem;

  ion-label {
    font-size: 1rem;
  }

  ion-icon {
    font-size: 1.5rem;
    padding-bottom: 0.35rem !important;
  }
}

ion-button {
  --background-hover-opacity: 0 !important;
}

ion-toolbar {
  margin: 0rem !important;
  padding: 0rem !important;
}

ion-toggle {
  --background-checked: #BDBDBD;
  --background: #BDBDBD;
  --handle-background: #c34a4a;;
  --handle-background-checked: #315c00;
}

ion-label {
  padding-bottom: 0.25rem;
  white-space: normal !important;
  --color: #424242 !important;
  --highlight-color-invalid: #424242 !important;
}

ion-item {
  --border-color: #bdbdbd;
  padding: 0.4rem 1rem 0.4rem 1rem;
  //--border-color: $colorPrimary; // default underline color
  //--highlight-color-invalid: #e30909 !important; // invalid underline color
  //--highlight-color-valid: #c00101 !important; // valid underline color
}

ion-textarea {
  margin-top: 0.05rem !important;
}

ion-select {
  max-width: 90% !important;
}

ion-select::part(text) {
  white-space: normal !important;
}

// text-wrap for alert labels
.alert-tappable.alert-radio {
  height: auto;
  contain: content;
}

.alert-radio-label.sc-ion-alert-md {
  white-space: pre-line;
}

.alert-radio-label.sc-ion-alert-ios {
  white-space: pre-line;
}

.ion-item-toggle-check {
  display: flex;
  margin-left: -1rem;
  padding-top: 0.85rem;
}

.ion-label-check {
  margin-left: 1rem;
}

// Logo

.logo-white {
  height: 5rem !important;
  object-fit: cover;
  filter: brightness(0) invert(1);
}

// MENU

.menu-container {
  display: flex;
  background: white;
  height: $heightMenu;
}

.menu-vertical {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.menu-container-vertical {
  position: absolute;
  margin-top: $heightMenu;
  padding-left: 5rem;
  padding-top: 2rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-vertical-transparency {
  opacity: 0.95;
  background: $colorPrimary;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.menu-vertical-text {
  color: white;
  font-size: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

.menu-vertical-text-selected {
  @extend .menu-vertical-text;
  text-decoration: underline;
}

.menu-vertical-text:hover {
  text-decoration: underline;
}

.menu-vertical-icon {
  color: $colorPrimary;
  font-size: 2rem;
  align-self: flex-end !important;
  height: 1rem;
  margin-right: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

.menu-container-text {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
}

.menu-container-text-single {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  cursor: pointer;
}

.menu-container-text-single:hover {
  .menu-text-underline {
    visibility: visible;
  }
}

.menu-logo {
  height: 100%;
  margin: auto 0rem auto 5rem !important;
  padding: 0.75rem 0rem 0.75rem 0rem !important;
  text-align: center;
  cursor: pointer;
}

.menu-text {
  font-size: 1rem;
  color: $textColorMenu;
  margin-right: 0rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.menu-text-underline {
  height: 0.25rem;
  background: $colorPrimary;
  visibility: hidden;
}

.menu-text-underline-visible {
  @extend .menu-text-underline;
  visibility: visible;
}

.menu-toggle {
  padding: 1rem;
  margin-right: 3rem;
  cursor: pointer;
  color: $colorPrimary;
  font-size: 2rem;
}

.header-container {
  height: 45rem;
  display: flex;
  margin-right: 0rem;
  margin-left: 0rem;
}

.header-image-main {
  width: 100%;
  height: 45rem;
  position: absolute;
  object-fit: cover;
  filter: brightness(80%)
}

.header-image-circle {
  color: $colorPrimary;
  position: relative;
  height: 10rem;
  //filter: brightness(0) invert(1);
 -webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  //margin-bottom: auto !important;
  //margin-top: $heightMenu !important;
  margin-top: 8rem !important;
  margin-bottom: 6rem !important;
  margin-left: 4rem !important;

}

.header-circle-quarter {
  background: white;
  width: 20rem;
  height: 20rem+$heightMenu;
  border-radius: 0 0 0 20rem;
  -moz-border-radius: 0 0 0 20rem;
  -webkit-border-radius: 0 0 0 20rem;
  position: relative;
  align-self: flex-start;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 1400px) {
  .header-circle-quarter {
    visibility: hidden;
  }
}

.header-title-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  text-align: left;
  align-self: center;
  width: 100%;
  margin-left: 5rem;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .header-title-container {
    margin-top: $heightMenu/4;
    margin-left: auto;
  }
}

.header-title {
  font-size: 3.5rem;
  color: white;
  line-height: 5rem;
  font-weight: 500;
  padding: 1rem;
  margin-top: 6rem;
}

.header-text {
  font-size: 1.3rem;
  color: white;
  line-height: 2rem;
  font-weight: 400;
  padding: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .header-title {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.header-title-button {
  font-size: 1.5rem;
  color: $colorPrimary !important;
  display: block;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  width: fit-content !important;
  align-self: center !important;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1.5rem !important;
  cursor: pointer;
  background: white !important;
}

.header-title-button:hover{
  color: white !important;
  background: transparent !important;
  border: $borderButton solid white !important;
  box-sizing: border-box;
  padding: 1.5rem !important;
}
.header-title-button-white {
  @extend .button-white-two;
  box-sizing: border-box;
  padding: 1.5rem !important;
}

.header-footer {
  background: white;
  border-radius: 2.5rem 2.5rem 0 0;
  -moz-border-radius: 2.5rem 2.5rem 0 0;
  -webkit-border-radius: 2.5rem 2.5rem 0 0;
  width: 30rem;
  height: 5rem;
  position: relative;
  margin-top: auto;
  margin-left: 5rem;
  opacity: 0.75;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .header-footer {
    width: 100vw !important;
    align-self: center;
    margin-left: 0rem !important;
    visibility: hidden;
  }
}

.header-footer-column {
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
  padding: 0.5rem !important;
}

.header-footer-title {
  color: $colorPrimary;
  font-size: 0.7rem;
  align-self: center;
  margin-top: 0.3rem;
  font-weight: 600;
}

.header-footer-logo {
  object-fit: contain !important;
  height: 2rem;
  margin-top: 0.7rem !important;
}

// Box-Image-Text

.box-group {
  margin-top: 2.5rem !important;
  margin-bottom: 5rem !important;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.box-green {
  @extend .box;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.box-icon {
  font-size: 3rem;
  text-align: center;
  color: $colorPrimary;
  margin-bottom: 1rem;
}

.box-icon-white {
  @extend .box-icon;
  color: white;
}

.box-icon-gold {
  @extend .box-icon;
  color: $colorGold;
}

.box-icon-silver {
  @extend .box-icon;
  color: $colorSilver;
}

.box-icon-copper {
  @extend .box-icon;
  color: $colorCopper;
}

.box-title {
  font-size: 1.5rem;
  color: $colorTextPrimary;
  font-weight: 500;
  margin-bottom: 0.75rem !important;
  text-align: center;
}

.box-title-white {
  @extend .box-title;
  color: white;
}

.box-subtitle {
  font-size: 1rem;
  margin: 0rem auto 0.5rem auto;
  padding-top: 0rem;
  color: $colorTextSecondary;
  font-weight: 500;
  text-align: center;
}

.box-text {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.box-text-white {
  @extend .box-text;
  color: white;
}

.box-image {
  height: 4rem;
  margin-bottom: 1rem !important;
  object-fit: contain;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.box-logo {
  @extend .box-image;
  cursor: pointer;
}

.box-button {
  --color: white;
  --background: $colorPrimary !important;
  background: $colorPrimary !important;
  --ion-text-color: white;
  border-radius: 1rem;
  color: white !important;
  --box-shadow: #00;
  display: block;
  width: auto;
  height: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
}

.box-button:hover {
  --background: #1c3100 !important;
  background: #1c3100 !important;
  color: white !important;
}

// page

.page {
  overflow: hidden;
  //height: 100%;
  -ms-overflow-style: none;
}

.page-padding {
  padding: 2.5rem;
}

.page::-webkit-scrollbar {
  display: none;
}

.page-title {
  font-size: 3rem;
  color: $colorPrimary;
  text-align: center;
  font-weight: 600;
}

// section

.section2 {
  padding: 2rem 4rem 2rem 4rem !important;
}

.section {
  margin-top: 2.5rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.blog-section-container {
  background: $colorBackground;
  padding: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .blog-section-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

.blog-section-title {
  @extend .page-title;
  padding: 2rem 0.5rem 2rem 0.5rem;
}

.blog-section-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section-rounded {
  @extend .section;
  border: 0.25rem solid $colorPrimary;
  border-left-color: white;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.section-image-container{
  text-align: center;
  justify-items: center;
  align-content: center;
}

.section-image {

}

.section-image-left {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.section-image-certificate {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  object-fit: contain;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  cursor: pointer;
}

.section-image-certificate:hover {
  filter: none;
}
.section-image-indicator{
  width: 60%;
  //object-fit: cover;


}

.section-container-text {
  padding: 2.5rem !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section-title {
  font-size: 2rem;
  color: $colorPrimary;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.section-title-regular {
  font-size: 2rem;
  color: $colorPrimary;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .section-title {
    font-size: 1.5rem;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
  }

  .section-title-regular {
    font-size: 1.5rem;
    color: $colorPrimary;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.section-list {
  margin-top: 1.25rem;
}

.section-list-item {
  font-size: 1.2rem;
  color: $colorTextSecondary;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.section-button {
  --color: $colorPrimary;
  --background: $colorTransparent !important;
  --ion-text-color: white;
  border: 1px solid $colorPrimary;
  border-radius: 1rem;
  color: $colorPrimary !important;
  --box-shadow: #00;
  display: block;
  width: auto;
  margin: 1.5rem 1rem 0.5rem 1rem;
  padding: 1rem !important;
  height: auto !important;
}

.section-button:hover {
  color: white !important;
  background: $colorPrimary !important;
}

.box-button:hover {
  --background: $colorPrimary !important;
  background: $colorPrimary !important;
  color: white !important;
}

.section-title-green {
  @extend .section-title-white;
  background: $colorPrimary;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.section-title-green-stroke {
  @extend .section-title-white;
  border-color: $colorPrimary;
  border-width: 0.2rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  border-radius: 2rem;
}

.section-title-white {
  @extend .section-title;
  color: white;
}

.section-text {
  font-size: 1.2rem;
  color: $colorTextSecondary;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.section-container-green {
  background: $colorPrimary;
  margin-top: 2.5rem !important;
  padding: 2.5rem 0rem 2.5rem 0rem;
}

.section-logo {
  display: flex;
  width: 100%;
  height: 20rem;
  object-fit: scale-down;
  margin: auto !important;
  align-self: center;
  justify-content: center;
  align-items: center;
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.section-intro {
  display: flex;
  flex-direction: column;
  padding: 10rem 4rem 4rem 4rem;
  background: $colorPrimary;
  height: auto;
}

.section-intro-title {
  color: white;
  font-size: $sizeTitleBig;
  padding: 1rem;
}

.section-intro-text {
  color: white;
  font-size: $sizeTextBig;
  padding: 1rem;
  line-height: $lineHeightTextBig;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-top: 4rem solid $colorPrimary;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.arrow-down-stroke {
  width: 0;
  height: 0;
  border-left: 4rem solid transparent;
  border-right: 4rem solid transparent;
  border-top: 4rem solid $colorPrimary;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  margin: $marginStandard;
}

.text {
  font-size: 1rem;
  color: $colorTextPrimary;
  line-height: $lineHeightText;
}

.text-secondary {
  @extend .text;
  color: $colorTextSecondary;
}

// Alert & Toast

.my-alert .alert-wrapper {
  justify-content: center;
  min-width: 33%;


  .alert-button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .alert-sub-title {
    font-size: $sizeText;
    color: $colorTextSecondary;
    margin-top: 0.5rem;
    text-align: center;
  }

  .alert-message {
    font-size: $sizeText;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    color: $colorTextPrimary;
    line-height: $lineHeightText;
  }

  .alert-title {
    font-weight: 500;
    font-size: $sizeTitle;
    color: $colorTextPrimary;
    text-align: center;
  }
}

// Buttons

.button {
  border: $borderButton solid;
  width: auto;
  border-radius: 1rem;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  font-size: $sizeText;
  font-weight: 700;
}

.button-one {
  @extend .button;
  border: $colorPrimary;
  color: white;
  background: $colorPrimary;
}

.button-one:hover {

}

.button-white-one {
  font-size: 1.5rem;
  background: white;
  color: $colorPrimary !important;
  display: block;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  width: fit-content !important;
  align-self: center !important;
  border-radius: 1rem;
  padding: 1rem !important;
  cursor: pointer;
  font-weight: 600;
}

.button-white-one:hover {
  background: $colorPrimary;
  color: white !important;
}

.button-two {
  @extend .button;
  border: $colorPrimary;
  color: $colorPrimary;
  background: transparent;

}

.button-two:hover {
  color: white;
  background: $colorPrimary;
}

.button-white-two {
  font-size: 1.5rem;
  border: $borderButton solid white;
  color: white !important;
  display: block;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  width: fit-content !important;
  align-self: center !important;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1.5rem !important;
  cursor: pointer;

}

.button-white-two:hover {
  background: white !important;
  color: $colorPrimary !important;
}

.button-group {
  margin-top: 2rem;
  padding: 1rem;
}


.button-orange{
  font-size: 1.5rem;
  background: $colorCopper;
  color: white;
  display: block;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  width: fit-content !important;
  align-self: center !important;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem !important;
  cursor: pointer;
  font-weight: 700;
}

.button-orange:hover{
  color: $colorCopper;
  background-color: transparent;
  border: $colorCopper solid;
}

.button-orange-rev {
  font-size: 1.5rem;
  color: $colorCopper;
  background: white;
  display: block;
  width: auto;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
  width: fit-content !important;
  align-self: center !important;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem !important;
  cursor: pointer;
  font-weight: 700;
}

.button-orange-rev:hover{
  background-color: $colorCopper;
  color: white;

}
// Dialog

.mat-dialog-container {
  padding: 0px !important;
}

.dialog-container {
  padding: 0px !important;
}

// input
.input-info {
  color: $colorTextTertiary;
  font-size: $sizeTextSmall;
  display: block;
  margin-right: 1rem;
  margin-left: 2rem;
}

.input-invalid {
  color: $red;
  font-size: $sizeTextSmall;
  display: block;
  margin-right: 1rem;
  margin-left: 2rem;
}

// form
.no-underline {
  --highlight-background: transparent;

}

.form-container {
  width: 70%;
  padding: 2rem 4rem 2rem 4rem !important;
}

@media screen and (min-width: 0px) and (max-width: 920px) {
  .form-container {
    width: 100%;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}

///Dark Mode
@media (prefers-color-scheme: dark) {

    /* dark mode variables go here */
    // Color - Text - Dark

    $colorTextPrimary: #e8e8e8 !important;
    $colorTextSecondary: #BDBDBD !important;
    $colorTextTertiary: #888888 !important;
    $colorDivider: #BDBDBD !important;
    $colorBackground: #212121 !important;
    $colorUnderline: #b4b4b4 !important;


  // Text | Color
  $textColorMenu:  #b4b4b4;



  // MENU


  .menu-vertical-text-selected {
    @extend .menu-vertical-text;
    text-decoration: underline;
  }

  .menu-vertical-text:hover {
    text-decoration: underline;
  }


  .menu-text {
    color: $textColorMenu;
  }

  .menu-text-underline {
    background: $colorPrimary;
  }

  .menu-toggle {
    color: $colorPrimary;
  }


  //BOXES
  .box-title {
    color: $colorTextPrimary;
  }

  .box-subtitle{
    color: $colorTextTertiary;
  }

 //SECTION
  .section-list-item {
    color: $colorTextSecondary;
  }

  .section-text {
    color: $colorTextSecondary;
  }

  .section-container-green {
    background: $colorPrimary;
  }

  //TEXTS

  .text {
    font-size: 1rem;
    color: $colorTextPrimary;
  }

  .text-secondary {
    @extend .text;
    color: $colorTextSecondary;
  }

  // Alert & Toast

  .my-alert .alert-wrapper {

    .alert-sub-title {
      color: $colorTextSecondary;
    }

    .alert-message {
      color: $colorTextPrimary;
    }

    .alert-title {
      color: $colorTextPrimary;
    }
  }


  // input
  .input-info {
    color: $colorTextTertiary;
  }


}
