<div style="height: 6rem;"></div>
<ion-content>
  <div style="margin:6rem;">
  <span style="font-size: 14px;"><strong><span style="font-size:16px;">Impressum</span></strong></span><br />
  <br />
  <strong><span style="font-size: 14px;"><span style="font-size:16px;"><span style="font-size:12px;">Gesetzliche Anbieterkennung:</span></span></span><br />
    <br />
    <span style="font-size: 14px;">Schumacher &amp; von Pidoll GmbH<br />
diese vertr. d. d. Gesch&auml;ftsf&uuml;hrer Eric Schumacher, Till von Pidoll, Julian Steinbüchel</span><br />
    <span style="font-size: 14px;">Vogelsangerstra&szlig;e, 282<br />
50825 K&ouml;ln<br />
Deutschland</span><br />
    <span style="font-size: 14px;">Telefon: + 49 (0) 221 168 930 45</span><br />
    <span style="font-size: 14px;">E-Mail: </span><span style="font-size:14px;">infra@mobile-box.eu<br />
<br />
<br />
USt-IdNr.: DE323700310</span><span style="font-size: 14px;"></span></strong><strong><span style="font-size: 14px;"></span></strong><br />
  <strong><span style="font-size:14px;">eingetragen im Handelsregister des Amtsgerichtes K&ouml;ln<br />
Handelsregisternummer HRB 92081</span></strong><br />
  <br />
  <span style="font-size:14px;"></span><br />
  <br />
  <span style="font-size: 14px;"></span><br />
  <br />
  <span style="font-size:14px;"><strong>Wir sind seit&nbsp;</strong></span><span style="font-size:14px;"><strong>06.02.2020&nbsp;</strong></span><span style="font-size:14px;"><strong>Mitglied der Initiative &quot;FairCommerce&quot;.</strong><br />
N&auml;here Informationen hierzu finden Sie unter&nbsp;<a href="https://www.haendlerbund.de/de/haendlerbund/interessenvertretung/faircommerce" target="_blank">www.haendlerbund.de/faircommerce</a>.</span><br />
  <br />
  </div>
</ion-content>
